In [ ]:
# 연습문제 2.2

In [ ]:
width = 30

In [ ]:
height = 60

In [ ]:
print(width)

30

In [ ]:
print(height)

60

In [ ]:
# 연습문제 2.5

In [ ]:
밑변 = int(input('정사각형의 밑변을 입력하시오 :'))
면적 = 밑변 ** 2
print('정사각형의 면적 :',면적)

정사각형의 밑변을 입력하시오 :40
정사각형의 면적 : 1600

In [ ]:
# 연습문제 2.6

In [ ]:
print('1에서 10까지의 합 :', 1+2+3+4+5+6+7+8+9+10 )

1에서 10까지의 합 : 55

In [ ]:
# 연습문제 2.7

In [ ]:
print('10! =',1*2*3*4*5*6*7*8*9*10)

10! = 3628800

In [ ]:
# 연습문제 2.8

In [ ]:
a=2
n=2

In [ ]:
print('a       n       a ** n')
print(a,'     ',n,'     ',a**n)
a=a+1
print(a,'     ',n,'     ',a**n)
a=a+1
print(a,'     ',n,'     ',a**n)
a=a+1
print(a,'     ',n,'     ',a**n)
a=a+1
print(a,'     ',n,'     ',a**n)

a       n       a ** n
2       2       4
3       2       9
4       2       16
5       2       25
6       2       36

In [ ]:
# 연습문제 2.9

In [ ]:
섭씨온도 = 0

In [ ]:
화씨온도 = (9/5) * 섭씨온도 + 32

In [ ]:
print('섭씨     화씨')
print(섭씨온도,'      ',화씨온도)
섭씨온도=섭씨온도+10
화씨온도 = (9/5) * 섭씨온도 + 32
print(섭씨온도,'     ',화씨온도)
섭씨온도=섭씨온도+10
화씨온도 = (9/5) * 섭씨온도 + 32
print(섭씨온도,'     ',화씨온도)
섭씨온도=섭씨온도+10
화씨온도 = (9/5) * 섭씨온도 + 32
print(섭씨온도,'     ',화씨온도)
섭씨온도=섭씨온도+10
화씨온도 = (9/5) * 섭씨온도 + 32
print(섭씨온도,'     ',화씨온도)
섭씨온도=섭씨온도+10
화씨온도 = (9/5) * 섭씨온도 + 32
print(섭씨온도,'     ',화씨온도)

섭씨     화씨
0        32.0
10       50.0
20       68.0
30       86.0
40       104.0
50       122.0

In [ ]:
# 연습문제 2.10

In [ ]:
섭씨온도 = int(input('섭씨온도를 입력하세요 : '))
화씨온도 = (9/5) * 섭씨온도 + 32
print('섭씨',섭씨온도,'도는 화씨',화씨온도,'도 입니다.')

섭씨온도를 입력하세요 : 30
섭씨 30 도는 화씨 86.0 도 입니다.

In [ ]:
# 연습문제 2.11

In [ ]:
화씨온도 = int(input('화씨 온도를 입력하세요 : '))
섭씨온도 = (화씨온도 - 32) *(5/9)
print('화씨',화씨온도,'도는 섭씨',섭씨온도,'도 입니다.')

화씨 온도를 입력하세요 : 86
화씨 86 도는 섭씨 30.0 도 입니다.

In [ ]:
# 연습문제 2.12

In [ ]:
PI = 3.141592
radius = 11
원의둘레 = 2 * PI * radius
원의면적 = PI * (radius **2)
print('원의 반지름 =',radius,', 원의 둘레 =',원의둘레,', 원의 면적 =',원의면적)

원의 반지름 = 11 , 원의 둘레 = 69.115024 , 원의 면적 = 380.132632

In [ ]:
# 연습문제 2.13

In [ ]:
PI = 3.141592
반지름 = int(input('원의 반지름을 입력하세요 : '))
원의둘레 = 2 * PI * 반지름
원의면적 = PI * (반지름**2)
print('원의 둘레 =', 원의둘레, ', 원의 면적 =',원의면적)

원의 반지름을 입력하세요 : 11
원의 둘레 = 69.115024 , 원의 면적 = 380.132632

In [ ]:
# 연습문제 2.14

In [ ]:
print('2의 제곱근 =',2**(1/2))
print('3의 제곱근 =',3**(1/2))
print('4의 제곱근 =',4**(1/2))
print('5의 제곱근 =',5**(1/2))
print('6의 제곱근 =',6**(1/2))
print('7의 제곱근 =',7**(1/2))
print('8의 제곱근 =',8**(1/2))
print('9의 제곱근 =',9**(1/2))
print('10의 제곱근 =',10**(1/2))

2의 제곱근 = 1.4142135623730951
3의 제곱근 = 1.7320508075688772
4의 제곱근 = 2.0
5의 제곱근 = 2.23606797749979
6의 제곱근 = 2.449489742783178
7의 제곱근 = 2.6457513110645907
8의 제곱근 = 2.8284271247461903
9의 제곱근 = 3.0
10의 제곱근 = 3.1622776601683795

In [ ]:
# 연습문제 2.15

In [ ]:
a = int(input('밑변을 입력하세요 : '))
b = int(input('높이를 입력하세요 : '))
빗변 = (a**2 + b**2)**(1/2)
print('빗변 :',빗변)

밑변을 입력하세요 : 5
높이를 입력하세요 : 12
빗변 : 13.0

In [ ]:
# 연습문제 2.16

In [2]:
print('회전하기 전 : (1+2j)')
print('90도 회전한 후 :', (1 + 2j)*(0 + 1j)) # cos90 = 0 , sin90 = 1 을 이용함

회전하기 전 : (1+2j)
90도 회전한 후 : (-2+1j)

In [5]:
print('회전하기 전 : (1+2j)')
print('30도 회전한 후 :', (1 + 2j)*((3**0.5)/2 + 0.5j)) # cos30 = (3**0.5)/2 , sin30 = 1/2 = 0.5 을 이용함
# 문제의 실행결과에서는 '90도 회전한 후'로 출력하라고 되어있는데 문제에서 30도 회전한 값을 출력하라고 해서 '30도 회전한 후로 바꾸었습니다.

회전하기 전 : (1+2j)
30도 회전한 후 : (-0.1339745962155614+2.232050807568877j)

In [ ]:
# 연습문제 2.17

In [ ]:
print(2<<0, 2<<1, 2<<2, 2<<3, 2<<4, 2<<5, 2<<6, 2<<7, 2<<8, 2<<9)

2 4 8 16 32 64 128 256 512 1024

In [ ]:
# 연습문제 2.18

In [ ]:
n = int(input('정수를 입력하세요 :'))
print('이 수가 짝수인가요?',n%2==0)

정수를 입력하세요 :20
이 수가 짝수인가요? True

In [ ]:
n = int(input('정수를 입력하세요 :'))
print('이 수가 짝수인가요?',n%2==0)

정수를 입력하세요 :21
이 수가 짝수인가요? False

In [ ]:
# 연습문제 2.19

In [ ]:
n = int(input('정수를 입력하세요 :'))
print('입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요?',n%2==0 and n>=0 and n<=100)

정수를 입력하세요 :120
입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요? False

In [ ]:
n = int(input('정수를 입력하세요 :'))
print('입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요?',n%2==0 and n>=0 and n<=100)

정수를 입력하세요 :88
입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요? True

In [ ]:
# 연습문제 2.20

In [ ]:
print(bin(5),'&',bin(6),'=',bin(5&6))
print(bin(5),'|',bin(6),'=',bin(5|6))
print(bin(5),'^',bin(6),'=',bin(5^6))

0b101 & 0b110 = 0b100
0b101 | 0b110 = 0b111
0b101 ^ 0b110 = 0b11

In [ ]:
# 연습문제 2.21

In [ ]:
정수 = int(input('정수를 입력하세요 : '))
print(정수,'의 2진수 값 :',bin(정수))
print(정수,'의 2진수 값에 대한 비트단위 부정값 :',bin(~9))

정수를 입력하세요 : 9
9 의 2진수 값 : 0b1001
9 의 2진수 값에 대한 비트단위 부정값 : -0b1010

In [ ]:
# 연습문제 2.22

In [ ]:
a = int(input('정수 a를 입력하시오 : '))
b = int(input('정수 b를 입력하시오 : '))
print('a / b의 몫 :',a//b)
print('a / b의 나머지 :',a%b)

정수 a를 입력하시오 : 202
정수 b를 입력하시오 : 50
a / b의 몫 : 4
a / b의 나머지 : 2

In [ ]:
# 연습문제 2.23

In [ ]:
정수 = int(input('세 자리 정수를 입력하세요 : '))
print('백의 자리 :',정수 // 100)
print('십의 자리 :',(정수//10)%10)
print('일의 자리 :',정수 % 10)

세 자리 정수를 입력하세요 : 349
백의 자리 : 3
십의 자리 : 4
일의 자리 : 9

In [ ]:
# 연습문제 2.24

In [ ]:
정수 = int(input('세 자리 정수를 입력하세요 : '))
print(정수 % 10)
print((정수//10)%10)
print(정수 // 100)

세 자리 정수를 입력하세요 : 349
9
4
3