In [ ]:
# 연습문제 3.2

In [ ]:
이름 = input('이름을 입력하시오 : ')
키 = int(input('키를 입력하시오(단위 cm) : '))
if 키 < 140 :
  print(이름,'님은 놀이기구를 탈 수 없습니다.')
else :
  print(이름,'님은 놀이기구를 탈 수 있습니다.')

이름을 입력하시오 : 동윤
키를 입력하시오(단위 cm) : 170
동윤 님은 놀이기구를 탈 수 있습니다.

In [ ]:
이름 = input('이름을 입력하시오 : ')
키 = int(input('키를 입력하시오(단위 cm) : '))
if 키 < 140 :
  print(이름,'님은 놀이기구를 탈 수 없습니다.')
else :
  print(이름,'님은 놀이기구를 탈 수 있습니다.')

이름을 입력하시오 : 승주
키를 입력하시오(단위 cm) : 132
승주 님은 놀이기구를 탈 수 없습니다.

In [ ]:
# 연습문제 3.3

In [ ]:
나이 = int(input('나이를 입력하시오 : '))
키 = int(input('키를 입력하시오(단위 cm) : '))
if 나이 >= 19 and 키 >=150 :
  print('입장할 수 있습니다.')
else:
  print('입장할 수 없습니다.')

나이를 입력하시오 : 23
키를 입력하시오(단위 cm) : 160
입장할 수 있습니다.

In [ ]:
나이 = int(input('나이를 입력하시오 : '))
키 = int(input('키를 입력하시오(단위 cm) : '))
if 나이 >= 19 and 키 >=150 :
  print('입장할 수 있습니다.')
else:
  print('입장할 수 없습니다.')

나이를 입력하시오 : 16
키를 입력하시오(단위 cm) : 162
입장할 수 없습니다.

In [ ]:
# 연습문제 3.4

In [ ]:
나이 = int(input('나이를 입력하시오 :'))
if 나이 >= 20:
  print('Adult')
elif (나이 >= 10) and (나이 <20):
  print('Youth')
else:
  print('Kid')

나이를 입력하시오 :23
Adult

In [ ]:
나이 = int(input('나이를 입력하시오 :'))
if 나이 >= 20:
  print('Adult')
elif (나이 >= 10) and (나이 <20):
  print('Youth')
else:
  print('Kid')

나이를 입력하시오 :18
Youth

In [ ]:
나이 = int(input('나이를 입력하시오 :'))
if 나이 >= 20:
  print('Adult')
elif (나이 >= 10) and (나이 <20):
  print('Youth')
else:
  print('Kid')

나이를 입력하시오 :9
Kid

In [ ]:
# 연습문제 3.5

In [ ]:
x,y = input('두 정수를 입력하시오 :').split()
x = int(x)
y = int(y)
if x > y:
  print(y,x)
else:
  print(x,y)

두 정수를 입력하시오 :99 12
12 99

In [ ]:
# 연습문제 3.6

In [12]:
x,y,z = input('세 정수를 입력하시오 : ').split()
x = int(x)
y = int(y)
z = int(z)
if x > y:
  if y>z:
    print(z,y,x)
  elif z>y:
    if x>z:
      print(y,z,x)
    else:
      print(y,x,z)
elif y>z:
  if x>z:
    if x>y:
      print(z,y,x)
    elif y>x:
      print(z,x,y)
  elif z>x:
    print(x,z,y)
elif z>y:
  if y>x:
    print(x,y,z)

세 정수를 입력하시오 : 9 12 4
4 9 12

In [13]:
x,y,z = input('세 정수를 입력하시오 : ').split()
x = int(x)
y = int(y)
z = int(z)
if x > y:
  if y>z:
    print(z,y,x)
  elif z>y:
    if x>z:
      print(y,z,x)
    else:
      print(y,x,z)
elif y>z:
  if x>z:
    if x>y:
      print(z,y,x)
    elif y>x:
      print(z,x,y)
  elif z>x:
    print(x,z,y)
elif z>y:
  if y>x:
    print(x,y,z)

세 정수를 입력하시오 : 99 12 4
4 12 99

In [ ]:
# 연습문제 3.7

In [ ]:
점수 = int(input('게임점수를 입력하시오 :'))
if 점수 >= 1000:
  print('고수입니다.')
else:
  print('입문자입니다.')

게임점수를 입력하시오 :990
입문자입니다.

In [ ]:
# 연습문제 3.8

In [ ]:
x,y = input('점의 좌표 x, y를 입력하시오 :').split()
x=int(x)
y=int(y)
if x>0 and y>0:
  print('1사분면에 있음')
elif x>0 and y<0:
  print('4사분면에 있음')
elif x<0 and y>0:
  print('2사분면에 있음')
else:
  print('3사분면에 있음')

점의 좌표 x, y를 입력하시오 :2 4
1사분면에 있음

In [ ]:
x,y = input('점의 좌표 x, y를 입력하시오 :').split()
x=int(x)
y=int(y)
if x>0 and y>0:
  print('1사분면에 있음')
elif x>0 and y<0:
  print('4사분면에 있음')
elif x<0 and y>0:
  print('2사분면에 있음')
else:
  print('3사분면에 있음')

점의 좌표 x, y를 입력하시오 :-2 -4
3사분면에 있음

In [ ]:
# 연습문제 3.9

In [ ]:
정수 = int(input('정수를 입력하시오 :'))
if 정수 % 2 == 0:
  print(정수,'는(은) 2(으)로 나누어집니다.')
  if 정수 % 3 == 0:
    print(정수,'는(은) 3(으)로 나누어집니다.')
    print(정수,'는(은) 2와(과) 3 모두로 나누어집니다.')
  else:
    print(정수,'는(은) 3(으)로 나누어지지 않습니다.')
    print(정수,'는(은) 2와(과) 3 모두로 나누어지지 않습니다.')
else:
  print(정수,'는(은) 2(으)로 나누어지지 않습니다.')
  if 정수 % 3 == 0:
    print(정수,'는(은) 3(으)로 나누어집니다.')
    print(정수,'는(은) 2와(과) 3 모두로 나누어지지 않습니다.')
  else:
    print(정수,'는(은) 3(으)로 나누어지지 않습니다.')
    print(정수,'는(은) 2와(과) 3 모두로 나누어지지 않습니다.')

정수를 입력하시오 :15
15 는(은) 2(으)로 나누어지지 않습니다.
15 는(은) 3(으)로 나누어집니다.
15 는(은) 2와(과) 3 모두로 나누어지지 않습니다.

In [ ]:
정수 = int(input('정수를 입력하시오 :'))
if 정수 % 2 == 0:
  print(정수,'는(은) 2(으)로 나누어집니다.')
  if 정수 % 3 == 0:
    print(정수,'는(은) 3(으)로 나누어집니다.')
    print(정수,'는(은) 2와(과) 3 모두로 나누어집니다.')
  else:
    print(정수,'는(은) 3(으)로 나누어지지 않습니다.')
    print(정수,'는(은) 2와(과) 3 모두로 나누어지지 않습니다.')
else:
  print(정수,'는(은) 2(으)로 나누어지지 않습니다.')
  if 정수 % 3 == 0:
    print(정수,'는(은) 3(으)로 나누어집니다.')
    print(정수,'는(은) 2와(과) 3 모두로 나누어지지 않습니다.')
  else:
    print(정수,'는(은) 3(으)로 나누어지지 않습니다.')
    print(정수,'는(은) 2와(과) 3 모두로 나누어지지 않습니다.')

정수를 입력하시오 :12
12 는(은) 2(으)로 나누어집니다.
12 는(은) 3(으)로 나누어집니다.
12 는(은) 2와(과) 3 모두로 나누어집니다.

In [ ]:
# 연습문제 3.10

In [ ]:
a,b = input('두 정수를 입력하시오 :').split()
a=int(a)
b=int(b)
if a % b == 0:
  print(a,'는(은)',b,'의 배수입니다.')
else:
  print(a,'는(은)',b,'의 배수가 아닙니다.')

두 정수를 입력하시오 :15 5
15 는(은) 5 의 배수입니다.

In [ ]:
a,b = input('두 정수를 입력하시오 :').split()
a=int(a)
b=int(b)
if a % b == 0:
  print(a,'는(은)',b,'의 배수입니다.')
else:
  print(a,'는(은)',b,'의 배수가 아닙니다.')

두 정수를 입력하시오 :125 52
125 는(은) 52 의 배수가 아닙니다.

In [ ]:
# 연습문제 3.11

In [ ]:
a,b,c = input('세 복권번호를 입력하시오 : ').split()
a=int(a)
b=int(b)
c=int(c)

if a==2 and b==3 and c==9:
  print('상금 1억 원')
elif a==2:
  if b==3 or c==3:
    print('상금 1천만 원')
  elif b==9 or c==9:
    print('상금 1천만 원')
  else:
    print('상금 1만 원')
elif b==2:
  if c==3 or c==9:
    print('상금 1천만 원')
  else:
    print('상금 1만 원')
else:
  print('다음 기회에...')

세 복권번호를 입력하시오 : 1 5 7
다음 기회에...

In [ ]:
a,b,c = input('세 복권번호를 입력하시오 : ').split()
a=int(a)
b=int(b)
c=int(c)

if a==2 and b==3 and c==9:
  print('상금 1억 원')
elif a==2:
  if b==3 or c==3:
    print('상금 1천만 원')
  elif b==9 or c==9:
    print('상금 1천만 원')
  else:
    print('상금 1만 원')
elif b==2:
  if c==3 or c==9:
    print('상금 1천만 원')
  else:
    print('상금 1만 원')
else:
  print('다음 기회에...')

세 복권번호를 입력하시오 : 1 2 7
상금 1만 원

In [ ]:
a,b,c = input('세 복권번호를 입력하시오 : ').split()
a=int(a)
b=int(b)
c=int(c)

if a==2 and b==3 and c==9:
  print('상금 1억 원')
elif a==2:
  if b==3 or c==3:
    print('상금 1천만 원')
  elif b==9 or c==9:
    print('상금 1천만 원')
  else:
    print('상금 1만 원')
elif b==2:
  if c==3 or c==9:
    print('상금 1천만 원')
  else:
    print('상금 1만 원')
else:
  print('다음 기회에...')

세 복권번호를 입력하시오 : 1 2 9
상금 1천만 원

In [ ]:
# 연습문제 3.12

In [ ]:
x,y = input('점의 좌표 x, y를 입력하시오 : ').split()
x=int(x)
y=int(y)
거리 = (x*x+y*y)**0.5
if 거리 >10:
  print('원의 외부에 있음')
else:
  print('원의 내부에 있음')

점의 좌표 x, y를 입력하시오 : 2 4
원의 내부에 있음

In [ ]:
x,y = input('점의 좌표 x, y를 입력하시오 : ').split()
x=int(x)
y=int(y)
거리 = (x*x+y*y)**0.5
if 거리 >10:
  print('원의 외부에 있음')
else:
  print('원의 내부에 있음')

점의 좌표 x, y를 입력하시오 : 7 9
원의 외부에 있음

In [ ]:
# 연습문제 3.13

In [ ]:
x,y = input('점의 좌표 x, y를 입력하시오 : ').split()
x=int(x)
y=int(y)
거리 = ((x-3)**2+(y-4)**2)**0.5
if 거리 >10:
  print('원의 외부에 있음')
else:
  print('원의 내부에 있음')

점의 좌표 x, y를 입력하시오 : -9 -5
원의 외부에 있음

In [ ]:
x,y = input('점의 좌표 x, y를 입력하시오 : ').split()
x=int(x)
y=int(y)
거리 = ((x-3)**2+(y-4)**2)**0.5
if 거리 >10:
  print('원의 외부에 있음')
else:
  print('원의 내부에 있음')

점의 좌표 x, y를 입력하시오 : 7 9
원의 내부에 있음

In [ ]:
# 연습문제 3.14

In [ ]:
알파벳 = input('알파벳을 입력하시오 :')
if 알파벳 == 'a' or 알파벳 == 'e' or 알파벳 == 'i' or 알파벳 == 'o' or 알파벳 == 'u' :
  print(알파벳,'(은)는 모음입니다.')
else:
  print(알파벳,'(은)는 자음입니다.')

알파벳을 입력하시오 :i
i (은)는 모음입니다.

In [ ]:
알파벳 = input('알파벳을 입력하시오 :')
if 알파벳 == 'a' or 알파벳 == 'e' or 알파벳 == 'i' or 알파벳 == 'o' or 알파벳 == 'u' :
  print(알파벳,'(은)는 모음입니다.')
else:
  print(알파벳,'(은)는 자음입니다.')

알파벳을 입력하시오 :t
t (은)는 자음입니다.

In [ ]:
# 연습문제 3.15

In [ ]:
for i in range(1,10):
  print('2 *',i,'=',2*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
i=1
while i <10:
  print('2 *',i,'=',2*i)
  i += 1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
# 연습문제 3.16

In [27]:
수 = int(input('1에서 9까지의 수를 입력하세요: '))
while 수 > 9 or 수 <1:
  수 = int(input('1에서 9까지의 수를 다시 입력하세요: '))
  continue
else:  
  i = 1
  while i <= 9:
    print(수,'*',i,'=',수*i)
    i += 1

1에서 9까지의 수를 입력하세요: 11
1에서 9까지의 수를 다시 입력하세요: 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [32]:
n = int(input('1에서 9까지의 수를 입력하세요: '))

if n > 9 or n <1:
  n = int(input('1에서 9까지의 수를 다시 입력하세요: '))
  if n<= 9 or n>0:
    for i in range (1,10,1):
      print(n,'*',i,'=',n*i)

else:
  for i in range (1,10,1):
    print(n,'*',i,'=',n*i)
    print()

1에서 9까지의 수를 입력하세요: 11
1에서 9까지의 수를 다시 입력하세요: 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
# 연습문제 3.18

In [ ]:
print('맛나 식당에 오신 것을 환영합니다. 메뉴는 다음과 같습니다.')
print('1) 햄버거')
print('2) 치킨')
print('3) 피자')
메뉴 = int(input('1에서 3까지의 메뉴를 선택하세요 :'))
while 메뉴 > 3 or 메뉴 < 1:
  메뉴 = int(input('메뉴를 다시 입력하세요:'))
  continue
else:  
  if 메뉴==1 :
    print('햄버거를 선택하였습니다.')
  elif 메뉴==2:
    print('치킨을 선택하였습니다.')
  elif 메뉴==3:
    print('피자를 선택하였습니다.')

맛나 식당에 오신 것을 환영합니다. 메뉴는 다음과 같습니다.
1) 햄버거
2) 치킨
3) 피자
1에서 3까지의 메뉴를 선택하세요 :5
메뉴를 다시 입력하세요:6
메뉴를 다시 입력하세요:0
메뉴를 다시 입력하세요:2
치킨을 선택하였습니다.

In [ ]:
# 연습문제 3.19

In [ ]:
print('맛나 식당에 오신 것을 환영합니다. 메뉴는 다음과 같습니다.')
print('- 햄버거(입력 b)')
print('- 치킨(입력 c)')
print('- 피자(입력 p)')
메뉴 = input('메뉴를 선택하세요(알파벳 b, c, p 입력) : ')
while 1:
  if 메뉴 == 'b':
    print('햄버거를 선택하였습니다.')
    break
  elif 메뉴 == 'c':
    print('치킨을 선택하였습니다.')
    break
  elif 메뉴 == 'p':
    print('피자를 선택하였습니다.')
    break
  else:
    메뉴 = input('메뉴를 다시 입력하세요(알파벳 b, c, p 입력) : ')
  continue

맛나 식당에 오신 것을 환영합니다. 메뉴는 다음과 같습니다.
- 햄버거(입력 b)
- 치킨(입력 c)
- 피자(입력 p)
메뉴를 선택하세요(알파벳 b, c, p 입력) : x
메뉴를 다시 입력하세요(알파벳 b, c, p 입력) : c
치킨을 선택하였습니다.

In [ ]:
# 연습문제 3.20

In [ ]:
n = int(input('숫자를 입력하세요 :'))
for i in range(n):
  print(' '*(n-i+1)+'*'*(i+1))

숫자를 입력하세요 :5
      *
     **
    ***
   ****
  *****

In [33]:
n = int(input('숫자를 입력하세요 :'))
for i in range(n):
  print(' '*(n-i+1)+'*'*(i+1))

숫자를 입력하세요 :6
       *
      **
     ***
    ****
   *****
  ******

In [ ]:
# 연습문제 3.21

In [ ]:
n = int(input('숫자를 입력하세요 : '))
is_prime = True
for num in range(2,n):
  if n % num == 0:
    is_prime = False

if is_prime == True:
  print(n,'는 소수입니다')
elif is_prime == False:
  print(n,'소수가 아닙니다')

숫자를 입력하세요 : 5
5 는 소수입니다

In [ ]:
n = int(input('숫자를 입력하세요 : '))
is_prime = True
for num in range(2,n):
  if n % num == 0:
    is_prime = False

if is_prime == True:
  print(n,'는 소수입니다')
elif is_prime == False:
  print(n,'는 소수가 아닙니다')

숫자를 입력하세요 : 9
9 는 소수가 아닙니다

In [ ]:
# 연습문제 3.22

In [ ]:

for n in range(2,13):
  is_prime = True
  for num in range(2,n):
    if n % num == 0:
      is_prime = False

  if is_prime == True:
    print(n,': 소수')
  elif is_prime == False:
    print(n,': 합성수')

2 : 소수
3 : 소수
4 : 합성수
5 : 소수
6 : 합성수
7 : 소수
8 : 합성수
9 : 합성수
10 : 합성수
11 : 소수
12 : 합성수

In [ ]:
# 연습문제 3.23

In [ ]:
n = int(input('숫자를 입력하세요 : '))
s=0
for i in range (1,n+1):
  s = s + i**2
print('결과는 {}입니다.'.format(s))

숫자를 입력하세요 : 5
결과는 55입니다.

In [ ]:
# 연습문제 3.24

In [ ]:
n = int(input('숫자를 입력하세요 : '))
s=0
for i in range (1,n+1):
  s = s +(1/i**2)
print('결과는 {}입니다.'.format(s))

숫자를 입력하세요 : 10
결과는 1.5497677311665408입니다.

In [ ]:
n = int(input('숫자를 입력하세요 : '))
s=0
for i in range (1,n+1):
  s = s +(1/i**2)
print('결과는 {}입니다.'.format(s))

숫자를 입력하세요 : 100
결과는 1.6349839001848923입니다.

In [ ]:
# 연습문제 3.25

In [ ]:
거리 = 0
n = 1
while 거리 < 25:
  거리 = 거리 + 7
  print('day :',n, '달팽이의 위치 :',거리,'미터')
  거리 = 거리 - 5
  n += 1
else:
  print('우물을 탈출하는 데 걸린 날은 {}일 입니다.'.format(n-1))

day : 1 달팽이의 위치 : 7 미터
day : 2 달팽이의 위치 : 9 미터
day : 3 달팽이의 위치 : 11 미터
day : 4 달팽이의 위치 : 13 미터
day : 5 달팽이의 위치 : 15 미터
day : 6 달팽이의 위치 : 17 미터
day : 7 달팽이의 위치 : 19 미터
day : 8 달팽이의 위치 : 21 미터
day : 9 달팽이의 위치 : 23 미터
day : 10 달팽이의 위치 : 25 미터
day : 11 달팽이의 위치 : 27 미터
day : 12 달팽이의 위치 : 29 미터
day : 13 달팽이의 위치 : 31 미터
우물을 탈출하는 데 걸린 날은 13일 입니다.

In [ ]:
# 연습문제 3.26

In [ ]:
n = int(input('n을 입력하시오 : '))
m = 1

for i in range(1,n+1):
  if i % 2 != 0:
    for j in range(1,n+1):
      print(m,end = ' ')
      m += 1
  else:
    m = m + n
    m -= 1
    for k in range(1,n+1):
      print(m,end = ' ')
      m -= 1
    m = m + n
    m += 1
  print()

n을 입력하시오 : 5
1 2 3 4 5
10 9 8 7 6
11 12 13 14 15
20 19 18 17 16
21 22 23 24 25

In [ ]:
n = int(input('n을 입력하시오 : '))
m = 1

for i in range(1,n+1):
  if i % 2 != 0:
    for j in range(1,n+1):
      print(m,end = ' ')
      m += 1
  else:
    m = m + n
    m -= 1
    for k in range(1,n+1):
      print(m,end = ' ')
      m -= 1
    m = m + n
    m += 1
  print()

n을 입력하시오 : 6
1 2 3 4 5 6
12 11 10 9 8 7
13 14 15 16 17 18
24 23 22 21 20 19
25 26 27 28 29 30
36 35 34 33 32 31

In [ ]:
# 연습문제 3.27

In [ ]:
print('세 자리의 암스트롱 수 : ',end = ' ')
for i in range(100,1000):
    if(i==((i//100)**3)+(((i%100)//10)**3)+((i%10)**3)):
      print(i,end = ' ')

세 자리의 암스트롱 수 :  153 370 371 407

In [ ]:
# 연습문제 3.28

In [10]:
number = int(input('정수를 입력하시오 : '))
n = number
L = []

s = 0
while True:
  a = n % 10
  L.append(a)
  n = (int)(n/10)
  s = s + 1
  if n == 0:
    break

정수 = 0

for i in range(0,s,1):
  if L[i] != L[s - 1 - i]:
    정수 = 1
    break

if 정수 == 0:
  print(number,'은(는) 거꾸로 정수입니다.')
else:
  print(number,'은(는) 거꾸로 정수가 아닙니다.')

정수를 입력하시오 : 3443
3443 은(는) 거꾸로 정수입니다.

In [11]:
number = int(input('정수를 입력하시오 : '))
n = number
L = []

s = 0
while True:
  a = n % 10
  L.append(a)
  n = (int)(n/10)
  s = s + 1
  if n == 0:
    break

정수 = 0

for i in range(0,s,1):
  if L[i] != L[s - 1 - i]:
    정수 = 1
    break

if 정수 == 0:
  print(number,'은(는) 거꾸로 정수입니다.')
else:
  print(number,'은(는) 거꾸로 정수가 아닙니다.')

정수를 입력하시오 : 324
324 은(는) 거꾸로 정수가 아닙니다.

In [ ]:
# 연습문제 3.29

In [ ]:
탱크양 = 500
while 탱크양 >= 50:
  연료 = int(input('충전 또는 사용한 연료를 +/- 기호와 함께 입력하시오: '))
  탱크양 = 탱크양 + 연료
  print('현재 탱크양은 {}입니다.'.format(탱크양))
else:
  print('경고 : 연료가 10% 미만이니 충전하세요!')

충전 또는 사용한 연료를 +/- 기호와 함께 입력하시오: +60
현재 탱크양은 560입니다.
충전 또는 사용한 연료를 +/- 기호와 함께 입력하시오: -300
현재 탱크양은 260입니다.
충전 또는 사용한 연료를 +/- 기호와 함께 입력하시오: -220
현재 탱크양은 40입니다.
경고 : 연료가 10% 미만이니 충전하세요!

In [ ]:
# 연습문제 3.30

In [ ]:
print('1)덧셈  2)뺄셈  3)곱셈  4)나눗셈')
번호 = int(input('어떤 연산을 원하는지 번호를 입력하세요: '))
while(번호>=1 and 번호<=4):
  if 번호 == 1:
    print('연산을 원하는 숫자 두개를 입력하세요')
    수1 = int(input())
    수2 = int(input())
    print(수1,'+',수2,'=',수1+수2)
  elif 번호 == 2:
    print('연산을 원하는 숫자 두개를 입력하세요')
    수1 = int(input())
    수2 = int(input())
    print(수1,'-',수2,'=',수1-수2)
  elif 번호 == 3:
    print('연산을 원하는 숫자 두개를 입력하세요')
    수1 = int(input())
    수2 = int(input())
    print(수1,'*',수2,'=',수1*수2)
  elif 번호 == 4:
    print('연산을 원하는 숫자 두개를 입력하세요')
    수1 = int(input())
    수2 = int(input())
    print(수1,'/',수2,'=',수1/수2)
  break
else:
  print('잘못 입력하였습니다.')

1)덧셈  2)뺄셈  3)곱셈  4)나눗셈
어떤 연산을 원하는지 번호를 입력하세요: 4
연산을 원하는 숫자 두개를 입력하세요
3
4
3 / 4 = 0.75

In [ ]:
print('1)덧셈  2)뺄셈  3)곱셈  4)나눗셈')
번호 = int(input('어떤 연산을 원하는지 번호를 입력하세요: '))
while(번호>=1 and 번호<=4):
  if 번호 == 1:
    print('연산을 원하는 숫자 두개를 입력하세요')
    수1 = int(input())
    수2 = int(input())
    print(수1,'+',수2,'=',수1+수2)
  elif 번호 == 2:
    print('연산을 원하는 숫자 두개를 입력하세요')
    수1 = int(input())
    수2 = int(input())
    print(수1,'-',수2,'=',수1-수2)
  elif 번호 == 3:
    print('연산을 원하는 숫자 두개를 입력하세요')
    수1 = int(input())
    수2 = int(input())
    print(수1,'*',수2,'=',수1*수2)
  elif 번호 == 4:
    print('연산을 원하는 숫자 두개를 입력하세요')
    수1 = int(input())
    수2 = int(input())
    print(수1,'/',수2,'=',수1/수2)
  break
else:
  print('잘못 입력하였습니다.')

1)덧셈  2)뺄셈  3)곱셈  4)나눗셈
어떤 연산을 원하는지 번호를 입력하세요: 6
잘못 입력하였습니다.

In [ ]:
# 연습문제 3.31

In [3]:
s = 0
for i in range (1,20001):
  s = 0

  for j in range (1,i):
    if i % j == 0:
      s = s + j

  k = 0
  for l in range(1,s):
    if s % l == 0:
      k = k + l
  
  if k == i and i != s:
    print(i,'의 친화수 = ',s)

220 의 친화수 =  284
284 의 친화수 =  220
1184 의 친화수 =  1210
1210 의 친화수 =  1184
2620 의 친화수 =  2924
2924 의 친화수 =  2620
5020 의 친화수 =  5564
5564 의 친화수 =  5020
6232 의 친화수 =  6368
6368 의 친화수 =  6232
10744 의 친화수 =  10856
10856 의 친화수 =  10744
12285 의 친화수 =  14595
14595 의 친화수 =  12285
17296 의 친화수 =  18416
18416 의 친화수 =  17296