In [ ]:
# 연습문제 4.1번

In [ ]:
def my_greet():
  print('환영합니다.')

my_greet()
my_greet()

환영합니다.
환영합니다.

In [ ]:
# 연습문제 4.2번

In [ ]:
def square(n):
  return n**2

print('3의 제곱은 : ',square(3))
print('3의 제곱은 : ',square(4))

3의 제곱은 :  9
3의 제곱은 :  16

In [ ]:
# 연습문제 4.3번

In [ ]:
def max2(m,n):
  if m > n:
    return m
  else :
    return n

def min2(m,n):
  if m > n:
    return n
  else : 
    return m

print('100과 200중 큰 수는 :',max2(100,200))
print('100과 200중 작은 수는 :',min2(100,200))

100과 200중 큰 수는 : 200
100과 200중 작은 수는 : 100

In [ ]:
# 연습문제 4.4번

In [ ]:
def mile2km():
  for i in range(1,6):
    마일 = i * 1.61
    print(i,'마일 =',마일,'킬로미터')

mile2km()

1 마일 = 1.61 킬로미터
2 마일 = 3.22 킬로미터
3 마일 = 4.83 킬로미터
4 마일 = 6.44 킬로미터
5 마일 = 8.05 킬로미터

In [ ]:
# 연습문제 4.5번

In [ ]:
def inch2cm():
  for i in range(1,6):
    센티미터 = i * 2.54
    print(i,'인치 =',센티미터,'센티미터')

inch2cm()

1 인치 = 2.54 센티미터
2 인치 = 5.08 센티미터
3 인치 = 7.62 센티미터
4 인치 = 10.16 센티미터
5 인치 = 12.7 센티미터

In [ ]:
# 연습문제 4.6번

In [ ]:
def cel2fah():
  for i in range(10,51,10):
    화씨 = (9/5) * i + 32
    print('섭씨',i,'도 = 화씨',화씨,'도')

cel2fah()

섭씨 10 도 = 화씨 50.0 도
섭씨 20 도 = 화씨 68.0 도
섭씨 30 도 = 화씨 86.0 도
섭씨 40 도 = 화씨 104.0 도
섭씨 50 도 = 화씨 122.0 도

In [ ]:
# 연습문제 4.7번

In [ ]:
a,b,c = map(int,input('세 수를 입력하시오 : ').split(' '))

def mean3(a,b,c):
  평균 = (a + b + c) / 3
  return 평균

def max3(a,b,c):
  x = 0
  lists = [a,b,c]
  for i in lists:
    if x < i:
      x = i
  return x


def min3(a,b,c):
  lists = [a,b,c]  
  y = lists[0]
  for j in lists:
    if j < y : 
      y = j  
  return y


print('{}, {}, {}의 평균값은 {}'.format(a,b,c,mean3(a,b,c)))
print('{}, {}, {}의 최댓값은 {}'.format(a,b,c,max3(a,b,c)))
print('{}, {}, {}의 최솟값은 {}'.format(a,b,c,min3(a,b,c)))

세 수를 입력하시오 : 10 30 20
10, 30, 20의 평균값은 20.0
10, 30, 20의 최댓값은 30
10, 30, 20의 최솟값은 10

In [ ]:
# 연습문제 4.8번

In [ ]:
a,b,c,d,e,f = map(int,input('여섯 개의 수를 입력하시오 : ').split(' '))

def mean3(a,b,c,d,e,f):
  평균 = (a + b + c + d + e + f) / 6
  return 평균

def max3(a,b,c,d,e,f):
  x = 0
  lists = [a,b,c,d,e,f]
  for i in lists:
    if x < i:
      x = i
  return x


def min3(a,b,c,d,e,f):
  lists = [a,b,c,d,e,f]  
  y = lists[0]
  for j in lists:
    if j < y : 
      y = j  
  return y


print('평균값은 {}'.format(mean3(a,b,c,d,e,f)))
print('최댓값은 {}'.format(max3(a,b,c,d,e,f)))
print('최솟값은 {}'.format(min3(a,b,c,d,e,f)))

여섯 개의 수를 입력하시오 : 100 20 30 45 260 370
평균값은 137.5
최댓값은 370
최솟값은 20

In [ ]:
# 연습문제 4.9번

In [ ]:
nums = input('정수를 여러 개 입력하시오 : ').split(' ')

for i in range(0,len(nums)):
  nums[i] = int(nums[i])     # 문자열 리스트를 정수로 바꾸기

def min_of_n(nums):
  list1 = []
  for k in nums:
    list1.append(k)

  y = list1[0]

  for j in list1:
    if j < y : 
      y = j
  return y

def mean_of_n(nums):
  평균 = sum(nums) / len(nums)
  return 평균

def max_of_n(nums):
  x = 0
  list1 = []
  for k in nums:
    list1.append(k)

  for i in list1:
    if x < i:
      x = i
  return x

print('평균값은 {0:.1f}'.format(mean_of_n(nums)))
print('최댓값은 {}'.format(max_of_n(nums)))
print('최솟값은 {}'.format(min_of_n(nums)))

정수를 여러 개 입력하시오 : 3 45 32 5 7 8 4 44 5 90 17
평균값은 23.6
최댓값은 90
최솟값은 3

In [ ]:
# 연습문제 4.10번

In [ ]:
def distance(x1, y1, x2, y2):
  거리 = (((x2-x1)**2)+((y2-y1)**2))**(1/2)
  return 거리

In [ ]:
x1 = int(input("x1 좌표를 입력하시오 : "))
y1 = int(input("y1 좌표를 입력하시오 : "))
x2 = int(input("x2 좌표를 입력하시오 : "))
y2 = int(input("y2 좌표를 입력하시오 : "))

print('두 점의 거리:',distance(x1, y1, x2, y2))

x1 좌표를 입력하시오 : 0
y1 좌표를 입력하시오 : 0
x2 좌표를 입력하시오 : 3
y2 좌표를 입력하시오 : 4
두 점의 거리: 5.0

In [ ]:
# 연습문제 4.11번

In [ ]:
def area(x1, y1, x2, y2):
  밑변 = (((x2-x1)**2))**(1/2)
  높이 = (((y2-y1)**2))**(1/2)
  면적 = 밑변 * 높이 / 2
  return 면적

In [ ]:
x1 = int(input("x1 좌표를 입력하시오 : "))
y1 = int(input("y1 좌표를 입력하시오 : "))
x2 = int(input("x2 좌표를 입력하시오 : "))
y2 = int(input("y2 좌표를 입력하시오 : "))

print('직각삼각형의 면적은 :',area(x1, y1, x2, y2))

x1 좌표를 입력하시오 : 0
y1 좌표를 입력하시오 : 0
x2 좌표를 입력하시오 : 3
y2 좌표를 입력하시오 : 4
직각삼각형의 면적은 : 6.0

In [ ]:
# 연습문제 4.12번

In [ ]:
def cal_area(width,height):
  s = (1/2) * width * height
  return s

width = int(input('밑변을 입력하시오: '))
height = int(input('높이를 입력하시오: '))

print('삼각형의 면적 : {}'.format(cal_area(width,height)))

밑변을 입력하시오: 20
높이를 입력하시오: 15
삼각형의 면적 : 150.0

In [ ]:
# 연습문제 4.13번 (총 6문제)

In [ ]:
# (1) 모서리의 길이가 12인 정육면체의 부피

In [ ]:
def square(s):
  v = s ** 3
  return v

square(12)

1728

In [ ]:
# (2) 모서리의 길이가 20인 정육면체의 부피

In [ ]:
def 정육면체(s):
  v = s ** 3
  return v

정육면체(20)

8000

In [ ]:
# (3) 가로, 세로, 길이가 각각 3, 5, 6인 직육면체의 부피

In [ ]:
def 직육면체(w,h,l):
  v = w * h * l
  return v

직육면체(3,5,6)

90

In [ ]:
# (4) 반지름과 높이가 각각 20, 10인 원뿔의 부피

In [ ]:
def 원뿔(r,h):
  v = (1/3) * 3.14 * (r**2) * h
  return v

원뿔(20,10)

4186.666666666666

In [ ]:
# (5) 반지름이 15인 구의 부피

In [ ]:
def 구(r):
  v = (4/3) * 3.14 * (r**3)
  return v

구(15)

14130.0

In [ ]:
# (6) 반지름과 높이가 각각 20, 10인 원기둥의 부피

In [ ]:
def 원기둥(r,h):
  v = 3.14 * (r**2) * h
  return v

원기둥(20,10)

12560.0

In [ ]:
# 연습문제 4.14번

In [ ]:
def sort3(num1, num2, num3):

In [ ]:
def sort3(num1, num2, num3):
  list1.append(num1)
  list1.append(num2)
  list1.append(num3)
  a= sorted(list1)

  print('정렬된 리스트는 다음과 같습니다: {0} {1} {2}'.format(a[0],a[1],a[2]))
  

list1 = []
print('세 수를 입력하세요 :')
num1 = int(input())
num2 = int(input())
num3 = int(input())

sort3(num1, num2, num3)

세 수를 입력하세요 :
3
2
5
정렬된 리스트는 다음과 같습니다: 2 3 5

In [ ]:
5# 연습문제 4.15번

In [ ]:
def my_sort(*nums):
  a = []
  a.append(nums)
  print('결과 :',sorted(nums))

my_sort(45,3,4,56,5)

결과 : [3, 4, 5, 45, 56]

In [ ]:
def my_sort(*nums):
  a = []
  a.append(nums)
  print('결과 :',sorted(nums))

my_sort(9,8,7,6,5,4,3)

결과 : [3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 연습문제 4.16번

In [ ]:
inputList = input('쉽표로 구분된 정수를 임의의 개수 입력하시오: ').split(',')

for i in range(0,len(inputList)):
  inputList[i] = int(inputList[i])

print('입력된 정수의 리스트:',inputList)

inputList.sort()

print('정렬된 정수의 리스트:',inputList)

쉽표로 구분된 정수를 임의의 개수 입력하시오: 56,67,89,34,24,300,99
입력된 정수의 리스트: [56, 67, 89, 34, 24, 300, 99]
정렬된 정수의 리스트: [24, 34, 56, 67, 89, 99, 300]

In [ ]:
# 연습문제 4.17번

In [ ]:
def sum_range(n1,n2):
  hap = 0
  for i in range(n1,n2+1):
    hap = hap + i
  return hap

print('10에서  20까지의 정수의 합 : {}'.format(sum_range(10,20)))
print('40에서 100까지의 정수의 합 : {}'.format(sum_range(40,100)))

10에서  20까지의 정수의 합 : 165
40에서 100까지의 정수의 합 : 4270

In [ ]:
# 연습문제 4.18번

In [ ]:
def 최소공배수(a,b):
  i = 1
  while True:
    for k in range(a,b+1):
      if i % a == 0 and i % b == 0:
        return i
      i = i + 1

a = int(input('범위의 시작 정수 : '))
b = int(input('범위의 마지막 정수 : '))

start = a
next = a + 1
end = b

p = 최소공배수(start,next)

while True:
  next = next + 1
  if next > end:
    break

  if p > next:
    p = 최소공배수(next,p)       # a<b라는 조건 맞추기
  
  else:
    p = 최소공배수(p,next)

print('{0}에서 {1}까지의 정수들의 최소 공배수는 : {2}'.format(start,end,p))

범위의 시작 정수 : 2
범위의 마지막 정수 : 4
2에서 4까지의 정수들의 최소 공배수는 : 12

In [ ]:
def 최소공배수(a,b):
  i = 1
  while True:
    for k in range(a,b+1):
      if i % a == 0 and i % b == 0:
        return i
      i = i + 1

a = int(input('범위의 시작 정수 : '))
b = int(input('범위의 마지막 정수 : '))

start = a
next = a + 1
end = b

p = 최소공배수(start,next)

while True:
  next = next + 1
  if next > end:
    break

  if p > next:
    p = 최소공배수(next,p)
  
  else:
    p = 최소공배수(p,next)

print('{0}에서 {1}까지의 정수들의 최소 공배수는 : {2}'.format(start,end,p))

범위의 시작 정수 : 3
범위의 마지막 정수 : 5
3에서 5까지의 정수들의 최소 공배수는 : 60

In [ ]:
4# 연습문제 4.19번

In [ ]:
def fibonacci(n):
  if n == 1:
    return 1
  elif n == 0:
    return 0
  else :
    return (fibonacci(n-1) + fibonacci(n-2))

fibo = int(input('fibo(n)의 n을 입력하세요: '))
print('fibo({}) ='.format(fibo),fibonacci(fibo+1))

fibo(n)의 n을 입력하세요: 3
fibo(3) = 3

In [ ]:
def fibonacci(n):
  if n == 1:
    return 1
  elif n == 0:
    return 0
  else :
    return (fibonacci(n-1) + fibonacci(n-2))

fibo = int(input('fibo(n)의 n을 입력하세요: '))
print('fibo({}) ='.format(fibo),fibonacci(fibo+1))

fibo(n)의 n을 입력하세요: 4
fibo(4) = 5

In [ ]:
# 연습문제 4.20번

In [ ]:
def fibonacci(n):
  if n == 1:
    return 1
  elif n == 0:
    return 0
  else :
    return (fibonacci(n-1) + fibonacci(n-2))

for i in range(16):
  print('fibo({0}) = {1}'.format(i,fibonacci(i+1)))

fibo(0) = 1
fibo(1) = 1
fibo(2) = 2
fibo(3) = 3
fibo(4) = 5
fibo(5) = 8
fibo(6) = 13
fibo(7) = 21
fibo(8) = 34
fibo(9) = 55
fibo(10) = 89
fibo(11) = 144
fibo(12) = 233
fibo(13) = 377
fibo(14) = 610
fibo(15) = 987

In [ ]:
# 연습문제 4.21번

In [ ]:
num = int(input('주민등록번호 첫 6숫자 형식 입력: '))

if num % 10000 < 50:
  y = 2000 + (num // 10000)
  m = ((num % 10000 - num % 100)//100)
  d = num % 100
  print('{}년 {}월 {}일'.format(y,m,d)) 
  
elif num % 10000 > 50 :
  y = 1900 + (num // 10000)
  m = ((num % 10000 - num % 100)//100)
  d = num % 100
  print('{}년 {}월 {}일'.format(y,m,d))

주민등록번호 첫 6숫자 형식 입력: 570312
1957년 3월 12일

In [ ]:
num = int(input('주민등록번호 첫 6숫자 형식 입력: '))

if num % 10000 < 50:
  y = 2000 + (num // 10000)
  m = ((num % 10000 - num % 100)//100)
  d = num % 100
  print('{}년 {}월 {}일'.format(y,m,d)) 
  
elif num % 10000 > 50 :
  y = 2000 + (num // 10000)
  m = ((num % 10000 - num % 100)//100)
  d = num % 100
  print('{}년 {}월 {}일'.format(y,m,d))

주민등록번호 첫 6숫자 형식 입력: 011123
2001년 11월 23일

In [ ]:
num = 570312
print((num % 10000 - num % 100)//100)
print(num - ((num % 100)*100))

3
569112

In [ ]:
# 연습문제 4.22번

In [ ]:
import datetime
date = datetime.datetime.now()
y , m, d = date.year, date.month, date.day
주민번호앞자리 = ((y - 2000)*10000) + (m*100) + d

print('현재 시간은 {}년 {}월 {}일입니다.'.format(y,m,d))

print('지금 태어난 아이의 주민등록번호 앞자리는 :',주민번호앞자리)

현재 시간은 2020년 10월 28일입니다.
지금 태어난 아이의 주민등록번호 앞자리는 : 201028

In [ ]:
# 연습문제 4.23번

In [ ]:
import math


def area_and_circumference(r):
  s = math.pi *(r**2)
  l = 2 * math.pi * r
  print("넓이 : {0:7.3f}, 둘레 : {1:7.3f}".format(s,l))

while True:

  r = int(input('반지름을 입력하시오: '))

  if r > 0:
    area_and_circumference(r)
    continue
  else :
    print('프로그램을 종료합니다.')
    break

반지름을 입력하시오: 6
넓이 : 113.097, 둘레 :  37.699
반지름을 입력하시오: 22
넓이 : 1520.531, 둘레 : 138.230
반지름을 입력하시오: 4
넓이 :  50.265, 둘레 :  25.133
반지름을 입력하시오: -1
프로그램을 종료합니다.

In [ ]:
# 연습문제 4.24번

In [ ]:
글 = input('여러 단어로 이루어진 글을 입력하세요: ')
글 = 글.replace(':',' ')
글 = 글.replace(',',' ')
글 = 글.replace('.',' ')

print('정렬결과 : ')
print(sorted(글.split()))

여러 단어로 이루어진 글을 입력하세요: 임의의 문장을 입력:출력, 이것은 테스트 문장.가:가나:나:나나:다람쥐 : 마린보이.
정렬결과 :
['가', '가나', '나', '나나', '다람쥐', '마린보이', '문장', '문장을', '이것은', '임의의', '입력', '출력', '테스트']

In [ ]:
# 연습문제 4.25번

In [ ]:
s1 = 'Kang Young Min'
s2 = ' Kang Young-Min'
s3 = 'Park Dong Min'
s4 = ' Park Dong-Yun'

s1 = s1.upper()
s1 = s1.strip()
s1 = s1.replace(' ','')
a = s1.count('N')

s2 = s2.upper()
s2 = s2.replace('-','')
s2 = s2.replace(' ','')
b = s2.count('N')

s3 = s3.upper()
s3 = s3.replace(' ','')
c = s3.count('N')

s4 = s4.upper()
s4 = s4.replace('-','')
s4 = s4.replace(' ','')
d = s4.count('N')

print('Kang Young Min(은)는 {}(으)로 수정됨'.format(s1))
print(' Kang Young-Min(은)는 {}(으)로 수정됨'.format(s2))
print('Park Dong Min(은)는 {}(으)로 수정됨'.format(s3))
print(' Park Dong-Yun(은)는 {}(으)로 수정됨'.format(s4))
print(s1,':',a,'개의 N이 나타남')
print(s2,':',b,'개의 N이 나타남')
print(s3,':',c,'개의 N이 나타남')
print(s4,':',d,'개의 N이 나타남')

Kang Young Min(은)는 KANGYOUNGMIN(으)로 수정됨
 Kang Young-Min(은)는 KANGYOUNGMIN(으)로 수정됨
Park Dong Min(은)는 PARKDONGMIN(으)로 수정됨
 Park Dong-Yun(은)는 PARKDONGYUN(으)로 수정됨
KANGYOUNGMIN : 3 개의 N이 나타남
KANGYOUNGMIN : 3 개의 N이 나타남
PARKDONGMIN : 2 개의 N이 나타남
PARKDONGYUN : 2 개의 N이 나타남

In [ ]:
# 연습문제 4.26번

In [ ]:
l = 'Park(Java city), Kim(C city), Kang(Bython city), Lee(Bython city), Hong(Ruby city), Cho(Bython city), Ryu(C++ city)'
print('주어진 문자열 :')
print(l)
print()

m = l.count('Bython')
l = l.replace('Bython','Python')

print('수정된 문자열 :')
print(l)
print('Bython 문자열은 모두 {}번 수정했습니다.'.format(m))

주어진 문자열 :
Park(Java city), Kim(C city), Kang(Bython city), Lee(Bython city), Hong(Ruby city), Cho(Bython city), Ryu(C++ city)

수정된 문자열 :
Park(Java city), Kim(C city), Kang(Python city), Lee(Python city), Hong(Ruby city), Cho(Python city), Ryu(C++ city)
Bython 문자열은 모두 3번 수정했습니다.

In [ ]:
# 연습문제 4.27번

In [ ]:
# 방법 1 (너무 작은 소수일때는 너무 시간이 오래걸리는 단점이 있다.)

In [1]:
def unit_fraction(frac):
  i = 2
  while (abs((1/i)-frac) > abs((1/(i+1)-frac))):
    i = i + 1
    if abs((1/i)-frac) < abs((1/(i+1)-frac)):
      print('가장 가까운 단위분수는 1/{0}이며, 이 값은 {1}입니다.'.format(i,1/i))
      break
 

frac = float(input('1보다 작고 0보다 큰 소수를 입력하세요: '))
unit_fraction(frac)

1보다 작고 0보다 큰 소수를 입력하세요: 0.0732
가장 가까운 단위분수는 1/14이며, 이 값은 0.07142857142857142입니다.

In [ ]:
# 방법 2 (너무 작은 소수일때도 시간이 오래 걸리지 않고 결과값을 출력할 수 있다.) - Core튜터링 튜터님을 통해 알게된 방법 (위의 방법으로 실행했는데 아래의 값을 출력하려니 출력되지 않아서 도움을 받음)

In [4]:
def unit_fraction(frac):
  a = int(1/frac)   # 버림하는 연산

  case1 = frac - 1/(a+1)
  case2 = 1/a - frac

  if case1 < case2:
    print('가장 가까운 단위분수는 1/{0}이며, 이 값은 {1}입니다.'.format(a+1,1/(a+1)))
  else:
    print('가장 가까운 단위분수는 1/{0}이며, 이 값은 {1}입니다.'.format(a,1/a))
 

frac = float(input('1보다 작고 0보다 큰 소수를 입력하세요: '))
unit_fraction(frac)

1보다 작고 0보다 큰 소수를 입력하세요: 0.00000000000000000000000000000000000000000003423423
가장 가까운 단위분수는 1/29210529928670802965804389820847695375368193이며, 이 값은 3.4234230000000007e-44입니다.

In [ ]:
# 연습문제 4.28번

In [ ]:
# (1) 팩토리얼 함수 정의하기

In [ ]:
def factorial(k):
  if k <= 1 :
    return 1
  else :
    return k * factorial(k-1)

In [ ]:
print(factorial(5))

120

In [ ]:
# (2) euler(n) 함수 정의하기

In [ ]:
def euler(n):
  hap = 0
  for i in range(0,n+1):
    hap = hap + ( 1 / factorial(i))
  return hap

In [ ]:
# (3) euler(5), euler(20) 값 출력하기

In [ ]:
print('euler( 5) = {0:.5f}'.format(euler(5)))
print('euler(20) = {0:.5f}'.format(euler(20)))

euler( 5) = 2.71667
euler(20) = 2.71828