In [ ]:
# 연습문제 5.3번

In [ ]:
list1 = [3,5,7]
list2 = [2,3,4,5,6]

In [ ]:
for i in range(len(list1)):
  for k in range(len(list2)):
    print('{0} * {1} = {2}'.format(int(list1[i]),int(list2[k]),int(list1[i])*int(list2[k])))

3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42

In [ ]:
# 연습문제 5.4번

In [ ]:
a = [2,3,4,5,6]
rev_a = []
print('a =',a)

for i in range(len(a)):
  k = a.pop()
  rev_a.append(k)

print('rev_a = {}'.format(rev_a))

a = [2, 3, 4, 5, 6]
rev_a = [6, 5, 4, 3, 2]

In [ ]:
for i in range(0,len(a)+1):
  a.pop(i)

In [ ]:
# 연습문제 5.5번

In [ ]:
list1 = ['I like', 'I love']
list2 = ['fan cake.', 'kiwi juice.', 'espresso.']

In [ ]:
print(list1[0] ,list2[0])
print(list1[0] ,list2[1])
print(list1[0] ,list2[2])
print(list1[1] ,list2[0])
print(list1[1] ,list2[1])
print(list1[1] ,list2[2])

I like fan cake.
I like kiwi juice.
I like espresso.
I love fan cake.
I love kiwi juice.
I love espresso.

In [ ]:
# 연습문제 5.7번

In [ ]:
n_list = [10,20,30,50,60]

In [ ]:
sum = n_list[0] + n_list[1] + n_list[2] + n_list[3]+ n_list[4]

In [ ]:
print('리스트 원소들 :',n_list)
print('리스트 원소들의 합 :',sum)

리스트 원소들 : [10, 20, 30, 50, 60]
리스트 원소들의 합 : 170

In [ ]:
# 연습문제 5.8번

In [ ]:
n_list = [10,20,30,50,60]

In [ ]:
곱 = n_list[0] * n_list[1] * n_list[2] * n_list[3] * n_list[4]

In [ ]:
print('리스트 원소들 :',n_list)
print('리스트 원소들의 곱 :',곱)

리스트 원소들 : [10, 20, 30, 50, 60]
리스트 원소들의 곱 : 18000000

In [ ]:
# 연습문제 5.9번

In [ ]:
n_list = [10,20,30,50,60]

In [ ]:
print('리스트 원소들 :',n_list)

n_list.sort(reverse = True)   # 내림차순으로 정렬했을 때 제일 왼쪽의 값이 최댓값이 된다.

print('리스트의 원소들 중 최댓값 :',n_list[0])

리스트 원소들 : [10, 20, 30, 50, 60]
리스트의 원소들 중 최댓값 : 60

In [ ]:
# 연습문제 5.10번

In [ ]:
n_list = [10,20,30,50,60]

In [ ]:
n_list.sort()   # 오름차순으로 정렬했을 때 제일 왼쪽의 값이 최솟값이 된다.

print('리스트 원소들 :',n_list)
print('리스트의 원소들 중 최솟값 :',n_list[0])

리스트 원소들 : [10, 20, 30, 50, 60]
리스트의 원소들 중 최솟값 : 10

In [ ]:
# 연습문제 5.11번

In [ ]:
num = input('5개의 수를 입력하세요: ').split(' ')

for i in range(len(num)):
  num[i] = int(num[i])

a = []
for k in num:
  a.append(k)

print('합 :',sum(a))
print('평균 :',sum(a)/len(a))
print('최댓값 :',max(a))
print('최솟값 :',min(a))

5개의 수를 입력하세요: 45 67 20 34 2
합 : 168
평균 : 33.6
최댓값 : 67
최솟값 : 2

In [ ]:
# 연습문제 5.12번

In [ ]:
n = int(input('n을 입력하세요 : '))
nums = input('{}개의 수를 입력하세요: '.format(n)).split(' ')

for i in range(len(nums)):
  nums[i] = int(nums[i])

b = []
for k in nums:
  b.append(k)

print('합 :',sum(b))
print('평균 :',sum(b)/len(b))
print('최댓값 :',max(b))
print('최솟값 :',min(b))

n을 입력하세요 : 6
6개의 수를 입력하세요: 45 67 20 34 2 100
합 : 268
평균 : 44.666666666666664
최댓값 : 100
최솟값 : 2

In [ ]:
# (1)

In [ ]:
n = int(input('n을 입력하세요 : '))
nums = input('{}개의 수를 입력하세요: '.format(n)).split(' ')

for i in range(len(nums)):
  nums[i] = int(nums[i])

b = []
for k in nums:
  b.append(k)

print('합 :',sum(b))
print('평균 :',sum(b)/len(b))
print('최댓값 :',max(b))
print('최솟값 :',min(b))

n을 입력하세요 : 3
3개의 수를 입력하세요: 1 2 3
합 : 6
평균 : 2.0
최댓값 : 3
최솟값 : 1

In [ ]:
# (2)

In [ ]:
n = int(input('n을 입력하세요 : '))
nums = input('{}개의 수를 입력하세요: '.format(n)).split(' ')

for i in range(len(nums)):
  nums[i] = int(nums[i])

b = []
for k in nums:
  b.append(k)

print('합 :',sum(b))
print('평균 :',sum(b)/len(b))
print('최댓값 :',max(b))
print('최솟값 :',min(b))

n을 입력하세요 : 5
5개의 수를 입력하세요: 10 2 30 3 28
합 : 73
평균 : 14.6
최댓값 : 30
최솟값 : 2

In [ ]:
# (3)

In [ ]:
n = int(input('n을 입력하세요 : '))
nums = input('{}개의 수를 입력하세요: '.format(n)).split(' ')

for i in range(len(nums)):
  nums[i] = int(nums[i])

b = []
for k in nums:
  b.append(k)

print('합 :',sum(b))
print('평균 :',sum(b)/len(b))
print('최댓값 :',max(b))
print('최솟값 :',min(b))

n을 입력하세요 : 10
10개의 수를 입력하세요: 34 56 7 9 23 10 2 30 3 28
합 : 202
평균 : 20.2
최댓값 : 56
최솟값 : 2

In [ ]:
# 연습문제 5.13번

In [ ]:
import math

number = input('10개의 수를 입력하세요: ').split(' ')

for i in range(len(number)):
  number[i] = int(number[i])

n = []
for j in number:
  n.append(j)

total = 0
for k in number:
  total = total + (k - sum(n)/len(n))**2

print('합 :',sum(n))
print('평균 :',sum(n)/len(n))
print('표준편차 : {:0.2f}'.format(math.sqrt(total/len(n))))

10개의 수를 입력하세요: 45 67 20 34 2 100 23 45 67 89
합 : 492
평균 : 49.2
표준편차 : 29.72

In [ ]:
# 연습문제 5.15번

In [ ]:
greet = 'Have a beautiful day.'

In [ ]:
greet[0:4]

'Have'

In [ ]:
greet[7:16]

'beautiful'

In [ ]:
greet[17:20]

'day'

In [ ]:
# 연습문제 5.17번

In [ ]:
# (1)

In [ ]:
animals = ['dog', 'cat', 'tiger', 'lion']

In [ ]:
print('animals = {}'.format(animals))

animals = ['dog', 'cat', 'tiger', 'lion']

In [ ]:
# (2)

In [ ]:
animals = ['dog', 'cat', 'tiger', 'lion']

In [ ]:
p = animals[0]
a = animals.pop(0)
animals.append(p)
print(animals)

['cat', 'tiger', 'lion', 'dog']

In [ ]:
# (3)

In [ ]:
animals = ['dog', 'cat', 'tiger', 'lion']
for a in animals:
  print('I love {}.'.format(a))

I love dog.
I love cat.
I love tiger.
I love lion.

In [ ]:
# 연습문제 5.18번

In [ ]:
s_list = ['abc', 'bcd', 'bcdefg', 'abba', 'cddc', 'opq']

In [ ]:
# (1)

In [ ]:
small = s_list[0]

for i in s_list:
  if len(small) > len(i):
    small = i

print('가장 길이가 짧은 문자열 : {}'.format(small))

가장 길이가 짧은 문자열 : abc

In [ ]:
# (2)

In [ ]:
big = s_list[0]

for i in s_list:
  if len(big) < len(i):
    big = i

print('가장 길이가 긴 문자열 : {}'.format(big))

가장 길이가 긴 문자열 : bcdefg

In [ ]:
# (3)

In [ ]:
s_list.sort(key=len)
big = s_list[0]
same = []

for i in s_list:
  if len(big) == len(i):
    same.append(i)

print('가장 길이가 긴 문자열 : {}'.format(same))

가장 길이가 긴 문자열 : ['abc', 'bcd', 'opq']

In [ ]:
# 연습문제 5.19번

In [3]:
s_list = ['abc', 'bcd', 'abc', 'abba', 'cddc', 'opq', 'opq']

In [5]:
new_s_list = []
new_s_list.append(s_list[0])


for i in range(1,len(s_list)):
  p = s_list[i]
  if (p not in new_s_list) == True:
    new_s_list.append(s_list[i])

print('s_list = {}'.format(s_list))
print('new_s_list = {}'.format(new_s_list))

s_list = ['abc', 'bcd', 'abc', 'abba', 'cddc', 'opq', 'opq']
new_s_list = ['abc', 'bcd', 'abba', 'cddc', 'opq']

In [ ]:
# 연습문제 5.20번

In [ ]:
src = ['a','a','a','a','b','b','b']
output = []
count = 0

for i in range(len(src)):
  if i == 0:
    output.append(src[i])
    count = count + 1
  else:
    if src[i-1] == src[i]:
      count = count + 1
    else :
      output.append(count)
      output.append(src[i])
      count = 1
      
output.append(count)

output_str = ""
for i in output:
  output_str = output_str + str(i)
  
print("scr = 'aaaabbb'")      
print("output = '{}'".format(output_str))

scr = 'aaaabbb'
output = 'a4b3'

In [ ]:
src = ['a','a','a','a','b','c','c','c','c','a','a','a','a','a','c','c','c','f','g']
output = []
count = 0

for i in range(len(src)):
  if i == 0:
    output.append(src[i])
    count = count + 1
  else:
    if src[i-1] == src[i]:
      count = count + 1
    else :
      output.append(count)
      output.append(src[i])
      count = 1
      
output.append(count)

output_str = ""
for i in output:
  output_str = output_str + str(i)
  
print("scr = 'aaaabccccaaaaacccfg'")      
print("output = '{}'".format(output_str))

scr = 'aaaabccccaaaaacccfg'
output = 'a4b1c4a5c3f1g1'

In [ ]:
src = []
output = []
count = 0

for i in range(len(src)):
  if i == 0:
    output.append(src[i])
    count = count + 1
  else:
    if src[i-1] == src[i]:
      count = count + 1
    else :
      output.append(count)
      output.append(src[i])
      count = 1
      
output.append(count)

output_str = ""
for i in output:
  output_str = output_str + str(i)
  
if src == []:
  print("scr = ''") 
  print("output = ''")

else:
  print("scr = ''")      
  print("output = '{}'".format(output_str))

scr = ''
output = ''

In [ ]:
src = ['a']
output = []
count = 0

for i in range(len(src)):
  if i == 0:
    output.append(src[i])
    count = count + 1
  else:
    if src[i-1] == src[i]:
      count = count + 1
    else :
      output.append(count)
      output.append(src[i])
      count = 1
      
output.append(count)

output_str = ""
for i in output:
  output_str = output_str + str(i)
  
print("scr = 'a'")      
print("output = '{}'".format(output_str))

scr = 'a'
output = 'a1'

In [ ]:
# 연습문제 5.21번

In [ ]:
scr = ['a',2,'b',3,'c',6,'a',2,'c',3,'f',1,'g',1]
print("scr = 'a2b3c6a2c3f1g1'")
print("output = '",end='')

for i in range(0,len(scr),2):
  print(scr[i] * scr[i+1],end='')

print("'",end='')

scr = 'a2b3c6a2c3f1g1'
output = 'aabbbccccccaacccfg'

In [ ]:
# 연습문제 5.22번

In [ ]:
n = int(input('n을 입력하시오 : '))
snake_list = list(range(1,(n*n)+1))

if n % 2 == 0:
  for i in range(0,n,2):
    print(snake_list[n*i:(n*i)+n])
    print(snake_list[(n*i)+2*n-1:n*i+n-1:-1])

else:
  for i in range(0,n-1,2):
    print(snake_list[n*i:(n*i)+n])
    print(snake_list[(n*i)+2*n-1:n*i+n-1:-1])
  print(snake_list[n*(n-1):n*(n-1)+n])

n을 입력하시오 : 5
[1, 2, 3, 4, 5]
[10, 9, 8, 7, 6]
[11, 12, 13, 14, 15]
[20, 19, 18, 17, 16]
[21, 22, 23, 24, 25]

In [ ]:
n = int(input('n을 입력하시오 : '))
snake_list = list(range(1,(n*n)+1))

if n % 2 == 0:
  for i in range(0,n,2):
    print(snake_list[n*i:(n*i)+n])
    print(snake_list[(n*i)+2*n-1:n*i+n-1:-1])

else:
  for i in range(0,n-1,2):
    print(snake_list[n*i:(n*i)+n])
    print(snake_list[(n*i)+2*n-1:n*i+n-1:-1])
  print(snake_list[n*(n-1):n*(n-1)+n])

n을 입력하시오 : 6
[1, 2, 3, 4, 5, 6]
[12, 11, 10, 9, 8, 7]
[13, 14, 15, 16, 17, 18]
[24, 23, 22, 21, 20, 19]
[25, 26, 27, 28, 29, 30]
[36, 35, 34, 33, 32, 31]

In [ ]:
# 연습문제 5.23번

In [ ]:
# (1)

In [3]:
person1 = ['온달', 20, 1, 180.0, 100.0]
person2 = ['이사부', 25, 1, 170.0, 70.0]
person3 = ['평강', 22, 0, 169.0, 60.0]
person4 = ['혁거세', 40, 1, 150.0, 50.0]

person_list = person1 + person3 + person4

def how_many_persons(person_list):
  n_persons = len(person_list) // len(person1)
  return n_persons

n_persons = how_many_persons(person_list)
print(str(n_persons) + '명의 정보가 담겨 있습니다.')

3명의 정보가 담겨 있습니다.

In [ ]:
# (2)

In [34]:
person1 = ['온달', 20, 1, 180.0, 100.0]
person2 = ['이사부', 25, 1, 170.0, 70.0]
person3 = ['평강', 22, 0, 169.0, 60.0]
person4 = ['혁거세', 40, 1, 150.0, 50.0]

person_list = person1 + person2 + person3 + person4

def compute_average_age(person_list):
  ave = person_list[1:24:5]
  평균 = sum(ave) / len(ave)
  return 평균

average_age = compute_average_age(person_list)
print('평균 나이는 ' + str(average_age) + '세입니다.')

평균 나이는 26.75세입니다.

In [ ]:
# (3)

In [22]:
person1 = ['온달', 20, 1, 180.0, 100.0]
person2 = ['이사부', 25, 1, 170.0, 70.0]
person3 = ['평강', 22, 0, 169.0, 60.0]
person4 = ['혁거세', 40, 1, 150.0, 50.0]

person_list = person1 + person2 + person3 + person4


def count_males_females(person_list):
  n_male = 0
  n_female = 0
  
  for i in range(2,len(person_list),5):
    if person_list[i] == 1:
      n_male = n_male + 1
    else : 
      n_female = n_female + 1
  return n_male,n_female

n_male, n_female = count_males_females(person_list)

print('리스트에는 남자가',n_male,'명, 여자가', n_female, '명입니다.')

리스트에는 남자가 3 명, 여자가 1 명입니다.

In [ ]:
# (4)

In [40]:
person1 = ['온달', 20, 1, 180.0, 100.0]
person2 = ['이사부', 25, 1, 170.0, 70.0]
person3 = ['평강', 22, 0, 169.0, 60.0]
person4 = ['혁거세', 40, 1, 150.0, 50.0]

person_list = person1 + person2 + person3 + person4

def display_persons(person_list):
  for i in range(0,4,1):
    print(person_list[5*i:5*(i+1)])

display_persons(person_list)

['온달', 20, 1, 180.0, 100.0]
['이사부', 25, 1, 170.0, 70.0]
['평강', 22, 0, 169.0, 60.0]
['혁거세', 40, 1, 150.0, 50.0]

In [ ]:
# 연습문제 5.24번

In [36]:
list_a = []

for i in range(1,10001):
  p = 0

  for k in range(1,i):
    if (i % k) == 0:
      p = p + k

  if i == p :
    for j in range(1,i):
      if (i % j) == 0:
        list_a.append(j)

    print('{0}은 완전수입니다'.format(i))
    print('{0}의 약수 : {1}, 약수의 합 = {2}'.format(i,list_a,p))

    list_a = []

6은 완전수입니다
6의 약수 : [1, 2, 3], 약수의 합 = 6
28은 완전수입니다
28의 약수 : [1, 2, 4, 7, 14], 약수의 합 = 28
496은 완전수입니다
496의 약수 : [1, 2, 4, 8, 16, 31, 62, 124, 248], 약수의 합 = 496
8128은 완전수입니다
8128의 약수 : [1, 2, 4, 8, 16, 32, 64, 127, 254, 508, 1016, 2032, 4064], 약수의 합 = 8128