In [ ]:
age = 5

In [ ]:
if age < 20:
  print('청소년 할인')

청소년 할인

In [ ]:
if age < 20:
    print('청소년 할인')

청소년 할인

In [ ]:
walk_count = 800

In [ ]:
if walk_count >= 1000:
  print('목표 달성!!! 축하합니다~')

In [ ]:
# LAB 3-1 : if 문의 사용법

In [ ]:
game_score = 800

In [ ]:
if game_score >= 1000:
  print('당신은 고수입니다')

In [ ]:
game_score = 1300

In [ ]:
if game_score >= 1000:
  print('당신은 고수입니다')

당신은 고수입니다

In [ ]:
num_a = 100
num_b = 200

In [ ]:
if num_a == num_b:
  print('두 값이 일치합니다.')

In [ ]:
num_a = 300
num_b = 300

In [ ]:
if num_a == num_b:
  print('두 값이 일치합니다.')

두 값이 일치합니다.

In [ ]:
number = int(input('정수를 입력하세요 : '))

정수를 입력하세요 : 16

In [ ]:
if (number % 3)== 0:
  print(number, '은(는) 3의 배수입니다.')

In [ ]:
number = int(input('정수를 입력하세요: '))
if (number % 3) == 0 and (number % 5) == 0:
  print(number, '은(는) 3의 배수이면서 5의 배수 입니다.')

정수를 입력하세요: 12

In [ ]:
# LAB 3-2 : 변수와 if 조건식 사용하기

In [ ]:
# 1번

In [ ]:
정수 = int(input('정수를 입력하세요 : '))
print('n =',정수)
if 정수 % 2 == 0:
  print(정수, '은(는) 짝수입니다.')

정수를 입력하세요 : 50
n = 50
50 은(는) 짝수입니다.

In [ ]:
정수 = int(input('정수를 입력하세요 : '))
print('n =',정수)
if 정수 % 2 == 0:
  print(정수, '은(는) 짝수입니다.')

정수를 입력하세요 : 75
n = 75

In [ ]:
# 2번

In [ ]:
정수 = int(input('정수를 입력하세요 : '))
print('x =',정수)
if 정수 > 0:
  print(정수, '은(는) 자연수입니다.')

정수를 입력하세요 : 50
x = 50
50 은(는) 자연수입니다.

In [ ]:
정수 = int(input('정수를 입력하세요 : '))
print('x =',정수)
if 정수 > 0:
  print(정수, '은(는) 자연수입니다.')

정수를 입력하세요 : -10
x = -10

In [ ]:
# 3.3 if-else 조건문

In [ ]:
hour = 14

In [ ]:
if hour < 12:
  print('오전입니다.')
if hour >= 12:
  print('오후입니다.')

오후입니다.

In [ ]:
hour = 14

In [ ]:
if hour < 12:
  print('오전입니다.')
else:
  print('오후입니다.')

오후입니다.

In [ ]:
num = -10

In [ ]:
if num < 0 :
  print(num, '은 음수입니다.')
else: # num >= 0
  print(num, '은 음수가 아닙니다.')

-10 은 음수입니다.

In [ ]:
num = 9
if num % 2 == 0:
  print(num, '은 짝수입니다.')
else:
  print(num, '은 홀수입니다.')

9 은 홀수입니다.

In [ ]:
num = -100

In [ ]:
if num < 0:
  print(num, '은 음수입니다.')
else:
  print(num, '은 음수가 아닙니다.')

  if num % 2 == 0:
    print(num, '은 짝수 입니다.')
  else:
    print(num, '은 홀수입니다.')

-100 은 음수입니다.

In [ ]:
# LAB 3-3 : if 조건문의 응용

In [ ]:
# 1번

In [ ]:
게임점수 = int(input('게임점수를 입력하시오 : '))
print('game_score =',게임점수)
if 게임점수 >= 1000:
  print('고수입니다.')
else:
  print('입문자입니다.')

게임점수를 입력하시오 : 800
game_score = 800
입문자입니다.

In [ ]:
게임점수 = int(input('게임점수를 입력하시오 : '))
print('game_score =',게임점수)
if 게임점수 >= 1000:
  print('고수입니다.')
else:
  print('입문자입니다.')

게임점수를 입력하시오 : 1300
game_score = 1300
고수입니다.

In [ ]:
# 2번

In [ ]:
정수 = int(input('한 정수를 입력하시오 : '))
다른정수 = int(input('다른 정수를 입력하시오 : '))
if 정수 == 다른정수:
  print('두 값이 일치합니다.')
else:
  print('두 값이 일치하지 않습니다.')

한 정수를 입력하시오 : 100
다른 정수를 입력하시오 : 200
두 값이 일치하지 않습니다.

In [ ]:
정수 = int(input('한 정수를 입력하시오 : '))
다른정수 = int(input('다른 정수를 입력하시오 : '))
if 정수 == 다른정수:
  print('두 값이 일치합니다.')
else:
  print('두 값이 일치하지 않습니다.')

한 정수를 입력하시오 : 300
다른 정수를 입력하시오 : 300
두 값이 일치합니다.

In [ ]:
# 3번

In [ ]:
나이 = int(input('당신은 성인인가요(성인이면 1, 미성년이면 0): '))
if 나이 == 0:
  print('당신은 미성년자입니다.')

당신은 성인인가요(성인이면 1, 미성년이면 0): 0
당신은 미성년자입니다.

In [ ]:
나이 = int(input('당신은 성인인가요(성인이면 1, 미성년이면 0): '))
if 나이 == 0:
  print('당신은 미성년자입니다.')
else:
  결혼여부 = int(input('결혼을 하셨나요(기혼이면 1, 미혼이면 0): '))
  if 결혼여부 == 1:
    print('당신은 결혼한 성인입니다.')
  else:
    print('당신은 결혼하지 않은 성인입니다.')

In [ ]:
# 3.3.1 복합 조건식

In [ ]:
a = 10
b = 13

In [ ]:
if (a%2 == 0) and (b%2 == 0):
  print('두 수 모두 짝수입니다.')
if (a%2 == 0) or (b%2 == 0):
  print('두 수 중 하나 이상이 짝수입니다.')

두 수 중 하나 이상이 짝수입니다.

In [ ]:
# 3.3.2 복합 조건식으로 윤년 검사하기

In [ ]:
year = int(input('연도를 입력하세요 : '))

연도를 입력하세요 : 2010

In [ ]:
is_leap_year = ((year % 4 == 0) and (year % 100 != 0) or (year % 400 == 0))

In [ ]:
print(year, '년은 윤년입니까?', is_leap_year)

2010 년은 윤년입니까? False

In [ ]:
# 3.4 if-elif-else 문

In [ ]:
score = int(input('점수를 입력하세요 : '))

점수를 입력하세요 : 99

In [ ]:
if score >= 90:
  grade = 'A'
elif score >= 80:
  grade = 'B'
elif score >= 70:
  grade = 'C'
elif score >= 60 :
  grade = 'D'
else :
  grade = 'F'

print('당신의 등급은 :',grade)

당신의 등급은 : A

In [ ]:
# LAB 3-5 : if-elif-else 문을 사용한 다중 조건식

In [ ]:
# 1번

In [ ]:
speed = int(input('자동차의 속도를 입력하세요(단위 : km/h ): '))
if speed >= 100:
  속도 = '고속'
elif speed >= 60:
  속도 = '중속'
else :
  속도 = '저속'

print(속도)

자동차의 속도를 입력하세요(단위 : km/h ): 13
저속

In [ ]:
speed = int(input('자동차의 속도를 입력하세요(단위 : km/h ): '))
if speed >= 100:
  속도 = '고속'
elif speed >= 60:
  속도 = '중속'
else :
  속도 = '저속'

print(속도)

자동차의 속도를 입력하세요(단위 : km/h ): 130
고속

In [ ]:
# 2번

In [ ]:
농도 = int(input('미세먼지 농도를 입력하세요(단위 : microgram/m^3 ): '))
if 농도 <= 15:
  미세먼지 = '좋음'
elif 농도 <= 35:
  미세먼지 = '보통'
elif 농도 <= 75:
  미세먼지 = '나쁨'
else :
  미세먼지 = '매우 나쁨'

print(미세먼지)

미세먼지 농도를 입력하세요(단위 : microgram/m^3 ): 13
좋음

In [ ]:
농도 = int(input('미세먼지 농도를 입력하세요(단위 : microgram/m^3 ): '))
if 농도 <= 15:
  미세먼지 = '좋음'
elif 농도 <= 35:
  미세먼지 = '보통'
elif 농도 <= 75:
  미세먼지 = '나쁨'
else :
  미세먼지 = '매우 나쁨'

print(미세먼지)

미세먼지 농도를 입력하세요(단위 : microgram/m^3 ): 33
보통

In [ ]:
# 3.5 for 반복문

In [ ]:
for i in range(15):
  print(i, 'Welcome to everyone!!')

0 Welcome to everyone!!
1 Welcome to everyone!!
2 Welcome to everyone!!
3 Welcome to everyone!!
4 Welcome to everyone!!
5 Welcome to everyone!!
6 Welcome to everyone!!
7 Welcome to everyone!!
8 Welcome to everyone!!
9 Welcome to everyone!!
10 Welcome to everyone!!
11 Welcome to everyone!!
12 Welcome to everyone!!
13 Welcome to everyone!!
14 Welcome to everyone!!

In [ ]:
# LAB 3-6 : 반복문을 이용해서 다음 코드를 작성해 보자

In [ ]:
# 1번

In [ ]:
for _ in range(5):
  print('Hello, Python!')

Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!

In [ ]:
# 2번

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [ ]:
list(range(0,5,3))

[0, 3]

In [ ]:
list(range(-2,-10,-2))

[-2, -4, -6, -8]

In [ ]:
list(range(0,5.7,0.1))

TypeError: ignored

In [ ]:
list(range(0,-5,1))

[]

In [ ]:
# LAB 3-7 : range() 함수의 응용

In [ ]:
# 1번

In [ ]:
list(range(1,101))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [ ]:
# 2번

In [ ]:
list(range(2,101,2))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [ ]:
# 3번

In [ ]:
list(range(-99,0))

[-99,
 -98,
 -97,
 -96,
 -95,
 -94,
 -93,
 -92,
 -91,
 -90,
 -89,
 -88,
 -87,
 -86,
 -85,
 -84,
 -83,
 -82,
 -81,
 -80,
 -79,
 -78,
 -77,
 -76,
 -75,
 -74,
 -73,
 -72,
 -71,
 -70,
 -69,
 -68,
 -67,
 -66,
 -65,
 -64,
 -63,
 -62,
 -61,
 -60,
 -59,
 -58,
 -57,
 -56,
 -55,
 -54,
 -53,
 -52,
 -51,
 -50,
 -49,
 -48,
 -47,
 -46,
 -45,
 -44,
 -43,
 -42,
 -41,
 -40,
 -39,
 -38,
 -37,
 -36,
 -35,
 -34,
 -33,
 -32,
 -31,
 -30,
 -29,
 -28,
 -27,
 -26,
 -25,
 -24,
 -23,
 -22,
 -21,
 -20,
 -19,
 -18,
 -17,
 -16,
 -15,
 -14,
 -13,
 -12,
 -11,
 -10,
 -9,
 -8,
 -7,
 -6,
 -5,
 -4,
 -3,
 -2,
 -1]

In [ ]:
for i in range(5):
  print(i, end = ' ')
for i in range(0,5):
  print(i, end = ' ')

0 1 2 3 4 0 1 2 3 4

In [ ]:
for i in range(0,5):
  print(i, end = ' ')

0 1 2 3 4

In [ ]:
#표현식 1
for i in range(2,5):
  print(i, end = '')
print()
#표현식 2
for i in range(0,10,2):
  print(i, end ='')
print()
#표현식 3
for i in range(-2,-10,-2):
  print(i, end = '')
print()

234
02468
-2-4-6-8

In [ ]:
# 3.5.1 반복문의 활용

In [ ]:
1+2+3+4+5

15

In [ ]:
s = 0

In [ ]:
for i in range(1,11):
  s = s + i
  print('i= ', i)
  print('sum = ', s)

print('1에서 10까지의 합:', s)

i=  1
sum =  1
i=  2
sum =  3
i=  3
sum =  6
i=  4
sum =  10
i=  5
sum =  15
i=  6
sum =  21
i=  7
sum =  28
i=  8
sum =  36
i=  9
sum =  45
i=  10
sum =  55
1에서 10까지의 합: 55

In [ ]:
for i in range(1,11):
  s = s + i
  print('i= ', i)
  print('sum = ', s)

print('1에서 10까지의 합:', s)

i=  1
sum =  1
i=  2
sum =  3
i=  3
sum =  6
i=  4
sum =  10
i=  5
sum =  15
i=  6
sum =  21
i=  7
sum =  28
i=  8
sum =  36
i=  9
sum =  45
i=  10
sum =  55
1에서 10까지의 합: 55

In [ ]:
s = 0
for i in range(1,11):
  s = s + i
  print('i = {}, s = {}'.format(i,s))

print('1에서 10까지의 합:', s)

i = 1, s = 1
i = 2, s = 3
i = 3, s = 6
i = 4, s = 10
i = 5, s = 15
i = 6, s = 21
i = 7, s = 28
i = 8, s = 36
i = 9, s = 45
i = 10, s = 55
1에서 10까지의 합: 55

In [ ]:
# LAB 3-8 : 누적 덧셈의 응용

In [ ]:
# 1번

In [ ]:
s = 0
for i in range(1,101):
  s = s + i
print(s)

5050

In [ ]:
# 2번

In [ ]:
s = 0
for i in range(0,101,2):
  s = s + i
print(s)

2550

In [ ]:
# 3번

In [ ]:
s = 0
for i in range(1,101,2):
  s = s + i
print(s)

2500

In [ ]:
n = int(input('합계를 구할 수를 입력 하세요:'))
s = 0

for i in range(0,n):
  s = s + (i+1)

print('1부터 {}까지의 합은 {}'.format(n,s))

합계를 구할 수를 입력 하세요:5
1부터 5까지의 합은 15

In [ ]:
n = int(input('합계를 구할 수를 입력 하세요:'))
s = 0

for i in range(1,n+1):
  s = s + i

print('1부터 {}까지의 합은 {}'.format(n,s))

합계를 구할 수를 입력 하세요:5
1부터 5까지의 합은 15

In [ ]:
# 3.5.2 팩토리얼 구하기

In [ ]:
n = int(input('수를 입력하세요:'))

fact = 1
for i in range(1,n+1):
  fact = fact * i

print('{}! = {}'.format(n,fact))

수를 입력하세요:5
5! = 120

In [ ]:
n = int(input('수를 입력하세요:'))

fact = 1
for i in range(1,n+1):
  fact = fact * i

print('{}! = {}'.format(n,fact))

수를 입력하세요:50
50! = 30414093201713378043612608166064768844377641568960512000000000000

In [ ]:
# 3.5.3 for 문과 리스트

In [ ]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
for i in [1, 8, 10, 5]:
  print(i)

1
8
10
5

In [ ]:
numbers = [11,22,33,44,55,66]

In [ ]:
for n in numbers:
  print(n, end=' ')

11 22 33 44 55 66

In [ ]:
for n in [11,22,33,44,55,66]:
  print(n, end=' ')

11 22 33 44 55 66

In [ ]:
numbers

[11, 22, 33, 44, 55, 66]

In [ ]:
sum(numbers)

231

In [ ]:
print('1에서 100까지의 합 :', sum(range(1,101)))

1에서 100까지의 합 : 5050

In [ ]:
st = 'Hello'

In [ ]:
type(st)

str

In [ ]:
list(st)

['H', 'e', 'l', 'l', 'o']

In [ ]:
for ch in 'Soongsil':
  print(ch, end=' ')

S o o n g s i l

In [ ]:
# 3.6 중첩 for 루프

In [ ]:
# 구구단 표를 만듭시다

In [ ]:
for i in range(2, 10):
  print(i, '단 시작!')
  for j in range(1,10):
    print('{}*{} = {}'.format(i, j, i*j), end=' ')
  print()

2 단 시작!
2*1 = 2 2*2 = 4 2*3 = 6 2*4 = 8 2*5 = 10 2*6 = 12 2*7 = 14 2*8 = 16 2*9 = 18
3 단 시작!
3*1 = 3 3*2 = 6 3*3 = 9 3*4 = 12 3*5 = 15 3*6 = 18 3*7 = 21 3*8 = 24 3*9 = 27
4 단 시작!
4*1 = 4 4*2 = 8 4*3 = 12 4*4 = 16 4*5 = 20 4*6 = 24 4*7 = 28 4*8 = 32 4*9 = 36
5 단 시작!
5*1 = 5 5*2 = 10 5*3 = 15 5*4 = 20 5*5 = 25 5*6 = 30 5*7 = 35 5*8 = 40 5*9 = 45
6 단 시작!
6*1 = 6 6*2 = 12 6*3 = 18 6*4 = 24 6*5 = 30 6*6 = 36 6*7 = 42 6*8 = 48 6*9 = 54
7 단 시작!
7*1 = 7 7*2 = 14 7*3 = 21 7*4 = 28 7*5 = 35 7*6 = 42 7*7 = 49 7*8 = 56 7*9 = 63
8 단 시작!
8*1 = 8 8*2 = 16 8*3 = 24 8*4 = 32 8*5 = 40 8*6 = 48 8*7 = 56 8*8 = 64 8*9 = 72
9 단 시작!
9*1 = 9 9*2 = 18 9*3 = 27 9*4 = 36 9*5 = 45 9*6 = 54 9*7 = 63 9*8 = 72 9*9 = 81

In [ ]:
# 3.6.1 중첩 for 루프를 이용한 패턴 만들기

In [ ]:
n = 7
for i in range(n):
  st = ''
  for j in range(i):
    st = st + ' '
  print(st + '#')

#
 #
  #
   #
    #
     #
      #

In [ ]:
n = 7
for i in range(n):
  # st = ''
  for j in range(i):
    st = st + ' '
  print(st + '#')

      #
       #
         #
            #
                #
                     #
                           #

In [ ]:
 n = 7
 for i in range(n):
   print(' '*i + '#')

#
 #
  #
   #
    #
     #
      #

In [ ]:
# 3.6.2 상향식 문제풀이 기법

In [ ]:
n = 5
for i in range(n):
  print(n - (i+1), end=' ')

4 3 2 1 0

In [ ]:
n = 5
for i in range(n):
  print(2*i+1,end=' ')

1 3 5 7 9

In [ ]:
n = 5
for i in range(n):
  for j in range(n-(i+1)):   #공백을 출력함
    print(' ',end='')
  for j in range(2*i+1):   # '+'를 출력함
    print('+', end='')
  print()

    +
   +++
  +++++
 +++++++
+++++++++

In [ ]:
n = 5
for i in range(n):
  print(' '* (n-(i+1)),end=' ')
  print('+'*(2*i+1))

     +
    +++
   +++++
  +++++++
 +++++++++

In [ ]:
# 3.6.3 소수 구하기

In [ ]:
n = int(input('수를 입력하세요: '))
is_prime = True
for num in range(2,n):
  if n % num == 0:
    is_prime = False
print(n,'is prime :', is_prime)

수를 입력하세요: 50
50 is prime : False

In [107]:
n = int(input('수를 입력하세요: '))
is_prime = True
for num in range(2,n):
  if n % num == 0:
    is_prime = False
print(n,'is prime :', is_prime)

수를 입력하세요: 11
11 is prime : True

In [109]:
primes = []

for n in range(2,101):
  is_prime = True
  for num in range(2,n):
    if n % num == 0:
      is_prime = False
  if is_prime:
    primes.append(n)

print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [110]:
# 3.7 while 반복문

In [111]:
i = 0
while i < 5:
  print('Welcome to everyone!!')
  i += 1

Welcome to everyone!!
Welcome to everyone!!
Welcome to everyone!!
Welcome to everyone!!
Welcome to everyone!!

In [112]:
n = int(input('합계를 구할 수를 입력하세요 : '))
s = 0
i = 1
while i <= n:
  s = s + i
  i += 1

print('1부터 {}까지의 합은 {}'.format(n,s))

합계를 구할 수를 입력하세요 : 100
1부터 100까지의 합은 5050

In [118]:
selected = None

while selected not in ['가위', '바위', '보']:
  selected = input('가위, 바위, 보 중에서 선택하세요: ')
print('선택한 값은: ', selected)

가위, 바위, 보 중에서 선택하세요: 묵
가위, 바위, 보 중에서 선택하세요: rock
가위, 바위, 보 중에서 선택하세요: 바위
선택한 값은:  바위

In [119]:
n = int(input('합계를 구할 양의 정수를 입력하세요 : '))
s = 0
for i in range(1,n+1):
  s = s + i

print('1부터 {}까지의 합은 {}'.format(n,s))

합계를 구할 양의 정수를 입력하세요 : -10
1부터 -10까지의 합은 0

In [120]:
n = -1
while n <= 0:
  n = int(input('합계를 구할 양의 정수를 입력하세요 : '))

s = 0
for i in range(1,n+1):
  s = s + i

print('1부터 {}까지의 합은 {}'.format(n,s))

합계를 구할 양의 정수를 입력하세요 : -10
합계를 구할 양의 정수를 입력하세요 : 0
합계를 구할 양의 정수를 입력하세요 : 10
1부터 10까지의 합은 55

In [121]:
# 3.8 break 와 continue

In [122]:
st = 'Programming'

for ch in st:
  if ch in ['a', 'e', 'i', 'o', 'u']:
    break
  print(ch)
print('The end')

P
r
The end

In [124]:
st = 'Programming'

for ch in st:
  if ch in ['a', 'e', 'i', 'o', 'u']:
    continue
  print(ch)
  
print('The end')

P
r
g
r
m
m
n
g
The end