In [ ]:
# 4.1 함수의 역할

In [2]:
def print_star():
  print('********!!!!***********')

print_star()

********!!!!***********

In [3]:
print_star()
print_star()
print_star()
print_star()
print_star()

********!!!!***********
********!!!!***********
********!!!!***********
********!!!!***********
********!!!!***********

In [4]:
# LAB 4-1 : 함수 정의와 호출

In [ ]:
# 1. [코드 4-1]의 함수 호출문을 삭제하면 어떻게 되는가?

In [5]:
def print_star():
  print('********!!!!***********')

In [6]:
# 2. [코드 4-2]를 수정하여 6줄의 별표를 출력해 보시오. 이때 함수 호출을 6회 하시오.

In [7]:
def print_star():
  print('******************')

print_star()
print_star()
print_star()
print_star()
print_star()
print_star()

******************
******************
******************
******************
******************
******************

In [8]:
def print_star3():
  print('******************')
  print('******************')
  print('******************')

print_star3()

******************
******************
******************

In [ ]:
# LAB 4-2 : 함수 정의와 호출

In [11]:
# 1. [코드 4-3]을 수정하여 함수 호출 두 번으로 10줄의 별표를 출력해 보시오.

In [12]:
def print_star5():
  print('******************')
  print('******************')
  print('******************')
  print('******************')
  print('******************')

print_star5()
print_star5()

******************
******************
******************
******************
******************
******************
******************
******************
******************
******************

In [13]:
def print_star():
  print('**********************')

def print_plus():
  print('++++++++++++++++++++++')

print_star()
print_plus()
print_star()
print_plus()

**********************
++++++++++++++++++++++
**********************
++++++++++++++++++++++

In [ ]:
# LAB 4-3 : 함수 정의와 호출

In [14]:
# 1. [코드 4-4]를 수정하여 해시마크(#)를 한 줄 출력하는 print_hash() 함수를 추가로 구현하시오.

In [15]:
def print_hash():
  print('#####################')

print_hash()

#####################

In [ ]:
# 2. print_star(), print_plus(), print_hash() 함수를 모두 이용하여 다음과 같은 출력이 나타나도록 함수를 호출하시오.

In [16]:
def print_hash():
  print('######################')

def print_star():
  print('**********************')

def print_plus():
  print('++++++++++++++++++++++')

print_hash()
print_star()
print_plus()
print_plus()
print_star()
print_hash()

######################
**********************
++++++++++++++++++++++
++++++++++++++++++++++
**********************
######################

In [17]:
# 4.2 함수와 매개변수

In [24]:
def print_star(n):
  for _ in range(n):
    print('**********')

print_star(4)

**********
**********
**********
**********

In [26]:
print_star(10)

**********
**********
**********
**********
**********
**********
**********
**********
**********
**********

In [27]:
# LAB 4-4 : 다양한 별표와 패턴 출력

In [28]:
# 1. [코드 4-5]를 수정하여 별표(*)줄이 10개 출력되도록 인자를 변경하시오.

In [29]:
def print_star(n):
  for _ in range(n):
    print('**********')

print_star(10)

**********
**********
**********
**********
**********
**********
**********
**********
**********
**********

In [20]:
# 2. [코드 4-5]를 수정하여 별표(*) 표시 대신 해시마크(#)가 출력되도록 하시오. 이를 위해 함수 이름을  print_hash(n)으로 수정하고 수정된 함수를 print_hash(10)과 같이 호출하시오.

In [30]:
def print_hash(n):
  for _ in range(n):
    print('##########')

print_hash(10)

##########
##########
##########
##########
##########
##########
##########
##########
##########
##########

In [21]:
# 3. print_hash(6)을 호출하여 다음과 같은 출력이 나타나도록 하여라.

In [31]:
def print_hash(n):
  for _ in range(n):
    print('###################')

print_hash(6)

###################
###################
###################
###################
###################
###################

In [32]:
# 4. print_hash(6)을 호출하여 다음과 같은 출력이 나타나도록 하여라. 다음 화면과 같이 매번 해시가 출력될 때마다 앞 칸에 줄 번호를 0부터 표시하도록 하여라.

In [33]:
def print_hash(n):
  for i in range(n):
    print(i,'###################')

print_hash(6)

0 ###################
1 ###################
2 ###################
3 ###################
4 ###################
5 ###################

In [38]:
def print_hello(n):
  print('Hello '*n)

print('hello를 두 번 출력합니다.')
print_hello(2)
print('hello를 세 번 출력합니다.')
print_hello(3)
print('hello를 네 번 출력합니다.')
print_hello(4)

hello를 두 번 출력합니다.
Hello Hello
hello를 세 번 출력합니다.
Hello Hello Hello
hello를 네 번 출력합니다.
Hello Hello Hello Hello

In [39]:
def print_sum(a, b):
  result = a + b
  print(a,'와',b,'의 합은', result,'입니다')

In [40]:
print_sum(10,20)

10 와 20 의 합은 30 입니다

In [41]:
print_sum(100,200)

100 와 200 의 합은 300 입니다

In [42]:
print_sum(10)

TypeError: ignored

In [43]:
print_sum(100,0,100)

TypeError: ignored

In [34]:
# LAB 4-5 : 두 수 연산을 수행하는 함수

In [35]:
# 1. 두 개의 매개변수 a, b를 받아서 두 수의 차를 구하여 출력하는 print_sub(a,b) 함수를 구현하여라. print_sub(10, 20)을 호출한 결과 다음과 같은 출력이 나타나도록 하여라.

In [46]:
def print_sub(a, b):
  result = a - b
  print(a,'와',b,'의 차는', result,'입니다')

print_sub(10,20)

10 와 20 의 차는 -10 입니다

In [ ]:
# 2. 두 개의 매개변수 a, b를 받아서 두 수의 곱을 구하여 출력하는 print_mult(a,b) 함수를 구현하여라. print_mult(10, 20)을 호출한 결과 다음과 같은 출력이 나타나도록 하여라.

In [48]:
def print_mult(a, b):
  result = a * b
  print(a,'과',b,'의 곱은', result,'입니다')

print_mult(10,20)

10 과 20 의 곱은 200 입니다

In [49]:
# 4.3 매개변수를 활용한 2차 방정식의 근 구하기

In [53]:
a = 1
b = 2
c = -8

r1 = (-b + (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
r2 = (-b - (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)

print('해는',r1,'또는',r2)

해는 2.0 또는 -4.0

In [54]:
def print_root(a,b,c):
  r1 = (-b + (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
  r2 = (-b - (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
  print('해는',r1,'또는',r2)

In [55]:
print_root(1,2,-8)

해는 2.0 또는 -4.0

In [56]:
print_root(2,-6,-8)

해는 4.0 또는 -1.0

In [50]:
# LAB 4-6 : 함수의 사용

In [51]:
# 1. 다음 2차 방정식의 근을 [코드 4-10]의 함수를 사용하여 출력하여라.

In [57]:
# (1)
def print_root(a,b,c):
  r1 = (-b + (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
  r2 = (-b - (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
  print('해는',r1,'또는',r2)

print_root(1,4,-21)

해는 3.0 또는 -7.0

In [58]:
# (2)
def print_root(a,b,c):
  r1 = (-b + (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
  r2 = (-b - (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
  print('해는',r1,'또는',r2)

print_root(1,-6,8)

해는 4.0 또는 2.0

In [59]:
# 2. 삼각형의 면적을 구하기 위하여 밑변과 높이를 사용하려고 한다. 두 개의 매개변수 width, height를 받아서 삼각형의 면적을 출력하는 함수 print_area(width, height)를 구현하여라. 이때 print_area(10,20)을 호출하여 다음과 같은 출력이 나타나도록 하여라.

In [60]:
def print_area(width, height):
  면적 = width * height * 0.5
  print('밑변',width,', 높이',height,'인 삼각형의 면적은 :', 면적)

print_area(10,20)

밑변 10 , 높이 20 인 삼각형의 면적은 : 100.0

In [61]:
# 4.4 return을 이용한 반환과 튜플

In [65]:
def print_sum2(a,b):
  result = a + b
  result_mul = a * b
  return result, result_mul

In [66]:
sum, mul = print_sum2(100,100)
print('더하기:', sum,'곱하기:', mul)

더하기: 200 곱하기: 10000

In [67]:
def print_sum2(a,b):
  # result = a + b
  # result_mul = a * b
  return a+b, a*b

In [68]:
sum, mul = print_sum2(100,100)
print('더하기:', sum,'곱하기:', mul)

더하기: 200 곱하기: 10000

In [71]:
def get_sum(a,b):
  return  a + b

result = get_sum(100,200)
print('두 수의 합', result)

두 수의 합 300

In [72]:
def get_root(a,b,c):
  r1 = (-b + (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
  r2 = (-b - (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
  return r1, r2

result1, result2 = get_root(1,2,-8)
print('해는',result1, '또는', result2)

해는 2.0 또는 -4.0

In [73]:
# LAB 4-7 : 원의 면적과 둘레를 반환하는 함수

In [75]:
radius = 10
pi = 3.14

def circle_area_circum(radius):
  area = radius * radius * pi
  circum = 2 * radius * pi
  return area, circum

area, circum = circle_area_circum(radius)
print('반지름',radius,'인 원의 면적은', area,', 원의 둘레는', circum)

반지름 10 인 원의 면적은 314.0 , 원의 둘레는 62.800000000000004

In [76]:
# LAB 4-8 : 다수의 결과를 반환하는 함수 만들기

In [78]:
def muliples(n,m):
  r1 = n * 1
  r2 = n * 2
  r3 = n * 3
  r4 = n * 4

  return r1, r2, r3, r4

r1, r2, r3, r4 = muliples(3,4)
print(r1, r2, r3, r4)

def muliples(n,m):
  r1 = n * 1
  r2 = n * 2
  r3 = n * 3
  r4 = n * 4
  r5 = n * 5
 
  return r1, r2, r3, r4, r5
  
r1, r2, r3, r4, r5 = muliples(2,5)
print(r1, r2, r3, r4, r5)

3 6 9 12
2 4 6 8 10

In [79]:
# 4.5 전역변수

In [80]:
def print_sum():
  result = a + b
  print('print_sum()내부:',a,'와',b,'의 합은', result,'입니다')

In [81]:
a = 10

In [82]:
b = 20

In [83]:
print_sum()

print_sum()내부: 10 와 20 의 합은 30 입니다

In [84]:
result = a + b
print('print_sum()외부:',a,'와',b,'의 합은', result,'입니다')

print_sum()외부: 10 와 20 의 합은 30 입니다

In [85]:
def print_sum():
  a = 100
  b = 200
  result = a + b
  print('print_sum()내부:',a,'와',b,'의 합은', result,'입니다')

In [86]:
a = 10

In [87]:
b = 20

In [88]:
print_sum()  # 내부의 값을 외부의 값보다 먼저 사용한다!!

print_sum()내부: 100 와 200 의 합은 300 입니다

In [89]:
def print_sum():
  global a, b
  a = 100
  b = 200
  result = a + b
  print('print_sum() 내부:', a,'and',b,'sum', result,'입니다.')

In [92]:
print_sum()
a = 10
b = 20
result = a + b
print('print_sum() 외부:', a,'and',b,'sum', result,'입니다.')

print_sum() 내부: 100 and 200 sum 300 입니다.
print_sum() 외부: 10 and 20 sum 30 입니다.

In [93]:
# 4.6 함수의 인자 전달 방식

In [ ]:
# 4.6.1 디폴트 인자

In [100]:
def div(a,b=2):
  return a / b

print('div(4)=',div(4))
print('div(6,3)=', div(6,3))

div(4)= 2.0
div(6,3)= 2.0

In [101]:
def div(a=1,b=2):
  return a / b

print('div()=',div())
print('div(4)=',div(4))
print('div(6,3)=', div(6,3))

div()= 0.5
div(4)= 2.0
div(6,3)= 2.0

In [102]:
# 4.6.2 키워드 인자

In [104]:
result1, result2 = get_root(1,-8,b=2)

TypeError: ignored

In [105]:
def func(a,b,c):
  print(a,b,c)

In [106]:
func(1,2,3)

1 2 3

In [107]:
func(1,c = 2, b = 3)

1 3 2

In [108]:
func(1,b=2,3)

SyntaxError: ignored

In [109]:
def func(shape, width = 1, height=1, radius=1):
  if shape == 0 : #   사각형 의미
    return width*height
  if shape == 1:  # 원 의미
   return 3.14 * radius **2

In [110]:
print("rect area = ",func(0,width=10,height=2))
print("circle area = ", func(1,radius=5))

rect area =  20
circle area =  78.5

In [111]:
print("rect area = ",func(0,radius=5))

rect area =  1

In [112]:
print("circle area = ", func(1,radius=5))

circle area =  78.5

In [94]:
# LAB 4-9 : 키워드 인자

In [95]:
# 1. 다음과 같이 성(last name)과 이름(first name), 존칭(honorifics)을 매개변수로 받아서 출력하는 함수 print_name이 있다.

In [115]:
def print_name(honorifics, first_name, last_name):
  ''' 키워드 인자를 이용한 출력용 프로그램 '''
  print(honorifics, first_name, last_name)

In [116]:
# a) 다음과 같은 함수 호출의 결과는 무엇인가?

In [118]:
print_name(first_name='Gildong', last_name='Hong', honorifics='Dr.')

Dr. Gildong Hong

In [97]:
# b) 다음과 같은 함수 호출의 결과는 무엇인가?

In [119]:
print_name('Gildong', 'Hong', 'Dr.')

Gildong Hong Dr.

In [120]:
# 4.6.3 가변적인 인자전달

In [121]:
def greet(*names):
  for name in names:
    print('안녕하세요',name,'씨')

In [122]:
greet('홍길동','양만춘','이순신')

안녕하세요 홍길동 씨
안녕하세요 양만춘 씨
안녕하세요 이순신 씨

In [123]:
greet('김대희','이상민')

안녕하세요 김대희 씨
안녕하세요 이상민 씨

In [125]:
def greet(*names):
  print('length:', len(names))
  
  for name in names:
    print('안녕하세요',name,'씨')

In [126]:
greet('홍길동','양만춘','이순신')

length: 3
안녕하세요 홍길동 씨
안녕하세요 양만춘 씨
안녕하세요 이순신 씨

In [127]:
greet('김대희','이상민')

length: 2
안녕하세요 김대희 씨
안녕하세요 이상민 씨

In [129]:
def sum_nums(*numbers):
  result = 0
  for n in numbers:
    result += n
  return result

print(sum_nums(10,20,30))
print(sum_nums(10,20,30,40,50))

60
150

In [98]:
# LAB 4-10 : 가변 인자의 활용

In [99]:
# 1. 가변 인자를 사용하는 sum_nums() 함수를 수정하여 인자들을 튜플 형식으로 출력한 후 모든 값들의 합과 평균을 다음과 같이 출력하시오.

In [132]:
def sum_nums(*numbers):
  result = 0
  for n in numbers:
    result += n
  return result

print('3 개의 인자 (10, 20, 30)')
print('합계 :',sum_nums(10,20,30),', 평균 :',sum_nums(10,20,30)/3)

3 개의 인자 (10, 20, 30)
합계 : 60 , 평균 : 20.0

In [133]:
def sum_nums(*numbers):
  result = 0
  for n in numbers:
    result += n
  return result

print('5 개의 인자 (10, 20, 30, 40, 50)')
print('합계 :',sum_nums(10,20,30,40,50),', 평균 :',sum_nums(10,20,30,40,50)/5)

5 개의 인자 (10, 20, 30, 40, 50)
합계 : 150 , 평균 : 30.0

In [134]:
# 2. 가변 인자를 사용하는 함수 min_nums() 함수를 구현하시오. 이 함수는 정수를 인자로 받을 수 있는데 이 인자의 개수가 가변적이다. 이 함수의 호출문이 다음과 같을 경우 다음과 같은 출력이 나타나도록 하시오.

In [194]:
def min_nums(*numbers):
  result = numbers[0]
  
  for n in numbers:
    if n < result : 
      result = n
  
  return result

result = min_nums(20,40,50,10)
print('최솟값은 ',result)

최솟값은  10

In [139]:
# 4.7 재귀함수

In [144]:
def factorial(n):
  if n <= 1:
    return 1
  else:
    return n*factorial(n-1)

n = 6
print('{}!={}'.format(n,factorial(n)))

6!=720

In [145]:
def fibonacci(n):
  if n<=1:
    return n
  else:
    return(fibonacci(n-1) + fibonacci(n-2))

nterm = int(input("몇개의 피보나치수를 원하세요?"))

몇개의 피보나치수를 원하세요?10

In [146]:
nterm

10

In [147]:
fibonacci(nterm)

55

In [149]:
if nterm <= 0:
  print('error! 양수입력!!')
else:
  print("Fibonacci 수열", end=' ')
  for i in range(nterm):
    print(fibonacci(i),end=' ')

Fibonacci 수열 0 1 1 2 3 5 8 13 21 34

In [150]:
# 4.8 입력함수와 출력함수

In [151]:
# 4.8.1 input()함수와 int()함수

In [152]:
s1, s2 = input('문자열 2개를 입력하세요: ').split()

문자열 2개를 입력하세요: Hello python

In [153]:
s1

'Hello'

In [154]:
s2

'python'

In [155]:
num1, num2, num3 = map(int,input('세 정수를 입력하세요: ').split())

세 정수를 입력하세요: 100 200 300

In [156]:
num1, num2, num3

(100, 200, 300)

In [160]:
num1, num2, num3 = input('세 정수를 ,로 구분하여 입력하세요: ').split(',')

세 정수를 ,로 구분하여 입력하세요: 100,200,300

In [161]:
num1, num2, num3

('100', '200', '300')

In [162]:
num1, num2, num3 = int(num1), int(num2), int(num3)

In [163]:
num1, num2, num3

(100, 200, 300)

In [164]:
# 4.8.2 여러가지 문자열 처리 메소드

In [165]:
 'hello'.upper()

'HELLO'

In [166]:
'Guido Van Rossum'.split()

['Guido', 'Van', 'Rossum']

In [168]:
'Apple,Banana,Orange'.split(',')

['Apple', 'Banana', 'Orange']

In [170]:
'Apple|Banana|Orange|Kiwi'.split('|')

['Apple', 'Banana', 'Orange', 'Kiwi']

In [171]:
# LAB 4 - 11 : format() 메소드의 활용

In [ ]:
# 1. 위의 코드를 수정하여 이름, 나이, 직업, 사는 곳까지 다음과 같이 화면에 출력하려고 한다.

In [172]:
이름 = input('당신의 이름을 입력해주세요 : ')
나이 = int(input('나이를 입력해주세요 : '))
직업 = input('직업을 입력해주세요 : ')
사는곳 = input('사는 곳을 입력해주세요 : ')

당신의 이름을 입력해주세요 : 김철수
나이를 입력해주세요 : 21
직업을 입력해주세요 : 학생
사는 곳을 입력해주세요 : 창원시

In [173]:
# a) 출력문에서 format() 메소드를 사용하여 출력하여라.

In [174]:
print('당신의 이름은 {}, 나이는 {}살, 직업은 {}, 사는 곳은 {}입니다.'.format(이름,나이,직업,사는곳))

당신의 이름은 김철수, 나이는 21살, 직업은 학생, 사는 곳은 창원시입니다.

In [175]:
# b) 출력문에서 format() 메소드를 사용하지 말고 쉼표로 구분하여 출력하여라.

In [176]:
print('당신의 이름은',이름,', 나이는',나이,'살, 직업은',직업,', 사는 곳은',사는곳,'입니다.')

당신의 이름은 김철수 , 나이는 21 살, 직업은 학생 , 사는 곳은 창원시 입니다.

In [179]:
# LAB 4-12 : 문자열의 여러 메소드 활용

In [180]:
# 1. join() 메소드를 사용하여 'ABCD'의 문자열을 'A_B_C_D'와 같이 출력하여라

In [181]:
'_'.join('ABCD')

'A_B_C_D'

In [182]:
# 2. 'My favorite thing is monsters.'라는 문자열 s에 replace() 메소드를 적용하여 'My favorite thing is cartoons.'로 수정된 t문자열을 얻도록 하여라.

In [183]:
s = 'My favorite thing is monsters.'
s.replace('monsters', 'cartoons')

'My favorite thing is cartoons.'

In [195]:
# 4.11 내장함수

In [196]:
abs(-100)

100

In [197]:
min(200,100,300,400)

100

In [198]:
max(200,100,300,400)

400

In [199]:
str1 = "FOO"

In [200]:
len(str1)

3

In [201]:
eval("100+200+300")

600

In [202]:
sorted("EABFD")

['A', 'B', 'D', 'E', 'F']

In [203]:
list = [200, 100, 300, 400]

In [204]:
sorted(list)

[100, 200, 300, 400]

In [205]:
sorted(list, reverse = True)

[400, 300, 200, 100]

In [184]:
n = 300

In [185]:
id(n)

139992781606160

In [186]:
type(123)

int

In [187]:
type('Hello String!')

str

In [188]:
type(120.3)

float

In [189]:
type([100,300,600])

list

In [190]:
eval('10 + 20')

30

In [191]:
eval('(5*20) / 2')

50.0

In [192]:
chr(65)

'A'

In [193]:
ord('A')

65