In [ ]:
# 5.1 리스트 자료형의 필요성

In [ ]:
score_list = [87,84,95,67,88,94,63]

In [ ]:
score_list

[87, 84, 95, 67, 88, 94, 63]

In [ ]:
score_list[6]

63

In [ ]:
score_list[1:4]   # 1부터 4미만의 범위

[84, 95, 67]

In [ ]:
mixed_list = [100,200,'apple',400]

In [ ]:
mixed_list

[100, 200, 'apple', 400]

In [ ]:
mixed_list[2]

'apple'

In [ ]:
list4 = list(range(1,100))

In [ ]:
list4

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [ ]:
list5 = list('ABCDEF')

In [ ]:
list5

['A', 'B', 'C', 'D', 'E', 'F']

In [ ]:
list5[3]

'D'

In [ ]:
# LAB 5-1 : 리스트의 생성

In [ ]:
# 1번. 1부터 10까지의 숫자 중에서 짝수를 요소로 가지는 even_list라는 리스트를 생성하여라(10을 포함). print() 함수를 사용하여 이 리스트를 다음과 같이 출력하여라.

In [ ]:
even_list = [2, 4, 6, 8, 10]

In [ ]:
print('even_list = {}'.format(even_list))

even_list = [2, 4, 6, 8, 10]

In [ ]:
# 2번. range() 함수를 이용하여 1번의 문제를 다시 풀어보시오.

In [ ]:
even_list = list(range(2,11,2))

In [ ]:
print('even_list = {}'.format(even_list))

even_list = [2, 4, 6, 8, 10]

In [ ]:
# 3번. 'Korea', 'China', 'India', 'Nepal' 의 네 원소를 가지는 nations라는 리스트를 생성하여라. print() 함수를 사용하여 이 리스트를 다음과 같이 출력하여라.

In [ ]:
nations = ['Korea', 'China', 'India', 'Nepal']

In [ ]:
print('naions = {}'.format(nations))

naions = ['Korea', 'China', 'India', 'Nepal']

In [ ]:
# 4번. 여러분의 친한 친구 5명의 이름을 원소로 가지는 friends라는 리스트를 생성하여라. 그리고 다음과 같이 출력하여라.

In [ ]:
friends = ['민주', '아연', '지원', '보현', '영채']

In [ ]:
print('friends = {}'.format(friends))

friends = ['민주', '아연', '지원', '보현', '영채']

In [ ]:
# 5번. 'XYZ' 문자열을 이용하여 'X', 'Y', 'Z'라는 요소를 가지는 string이라는 이름의 리스트 생성하고 다음과 같이 출력하여라.

In [ ]:
string = list('XYZ')

In [ ]:
print('string = {}'.format(string))

string = ['X', 'Y', 'Z']

In [ ]:
# 5.2 리스트의 인덱스

In [ ]:
even_list[-2]

8

In [ ]:
# LAB 5-2 : 리스트의 생성과 인덱싱

In [ ]:
# 1번. 2부터 10까지의 수중에서 소수를 원소를 가지는 prime_list라는 리스트를 생성하여라. 그리고 이 리스트의 가장 첫 원소를 리스트 인덱싱을 이용하여 다음과 같이 출력하여라.

In [ ]:
prime_list = [2,3,5,7]

In [ ]:
print('prime_list의 첫 원소 : {}'.format(prime_list[0]))

prime_list의 첫 원소 : 2

In [ ]:
# 2번. 문제 1.의 prime_list의 가장 마지막 원소를 양수 인덱스를 사용하여 출력하여라.

In [ ]:
print('prime_list의 첫 원소 : {}'.format(prime_list[3]))

prime_list의 첫 원소 : 7

In [ ]:
# 3번. 문제 1.의 prime_list의 가장 마지막 원소를 음수 인덱스를 사용하여 출력하여라.

In [ ]:
print('prime_list의 첫 원소 : {}'.format(prime_list[-1]))

prime_list의 첫 원소 : 7

In [ ]:
# 4번. 'Korea', 'China', 'Russia', 'Malaysia'를 원소로 가지는 nations라는 리스트를 생성하여라. 그리고 이 리스트의 가장 첫 원소를 print() 함수를 이용하여 출력하여라.

In [ ]:
nations = ['Korea', 'China', 'Russia', 'Malaysia']

In [ ]:
print('nations의 첫 원소 : {}'.format(nations[0]))

nations의 첫 원소 : Korea

In [ ]:
# 5번. 4번에서 생성한 nations 리스트의 가장 마지막 원소를 음수 인덱스를 사용하여 출력하여라.

In [ ]:
print('nations의 첫 원소 : {}'.format(nations[-1]))

nations의 첫 원소 : Malaysia

In [ ]:
# 6번. 4번에서 생성한 nations 리스트의 가장 마지막 원소를 len(nations)-1 인덱스를 사용하여 출력하여라.

In [ ]:
print('nations의 첫 원소 : {}'.format(nations[len(nations)-1]))

nations의 첫 원소 : Malaysia

In [ ]:
# 5.3 리스트 항목의 추가와 삭제

In [ ]:
a_list = ['a','b','c','d','e']

In [ ]:
a_list

['a', 'b', 'c', 'd', 'e']

In [ ]:
a_list.append('f')

In [ ]:
a_list

['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
a_list.append('g')

In [ ]:
a_list

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
del a_list[3]

In [ ]:
a_list

['a', 'b', 'c', 'e', 'f', 'g']

In [ ]:
a_list.remove('c')

In [ ]:
a_list

['a', 'b', 'e', 'f', 'g']

In [ ]:
a_list.remove('c')

ValueError: ignored

In [ ]:
# 5.4 멤버 연산자 : in, not in

In [ ]:
'c' in a_list

False

In [ ]:
'f' in a_list

True

In [ ]:
'c' not in a_list

True

In [ ]:
# LAB 5-3 : 리스트의 삽입과 삭제, in 연산자

In [ ]:
# 1번. 1부터 10까지의 수들 중에서 소수 원소를 가지는 prime_list라는 리스트를 생성하시오. 그리고 append() 메소드를 사용하여 11을 추가하시오. 이 때 추가 전과 추가 후의 결과를 다음과 같이 출력하시오.

In [ ]:
prime_list = [2, 3, 5, 7]

In [ ]:
print('소수 목록 : {}'.format(prime_list))

prime_list.append(11)

print('추가 후 소수 목록 : {}'.format(prime_list))

소수 목록 : [2, 3, 5, 7]
추가 후 소수 목록 : [2, 3, 5, 7, 11]

In [ ]:
# 2번. 1번 문제의 prime_list라는 리스트에 있는 3이라는 원소를 remove() 메소드를 사용하여 제거하시오. 이 때 삭제 전과 삭제 후의 결과를 다음과 같이 출력하시오.

In [ ]:
print('삭제 전 소수 목록 : {}'.format(prime_list))

prime_list.remove(3)

print('삭제 후 소수 목록 : {}'.format(prime_list))

삭제 전 소수 목록 : [2, 3, 5, 7, 11]
삭제 후 소수 목록 : [2, 5, 7, 11]

In [ ]:
# 3번. 'Korea', 'China', 'Russia', 'Malaysia' 라는 국가이름을 원소로 가지는 nations라는 리스트에  append() 메소드를 사용하여 'Nepal'을 추가하시오. 이 때 추가 전과 추가 후의 결과를 다음과 같이 출력하시오.

In [ ]:
nations = ['Korea', 'China', 'Russia', 'Malaysia']

In [ ]:
print('국가 목록 : {}'.format(nations))

nations.append('Nepal')

print('추가 후 국가 목록 : {}'.format(nations))

국가 목록 : ['Korea', 'China', 'Russia', 'Malaysia']
추가 후 국가 목록 : ['Korea', 'China', 'Russia', 'Malaysia', 'Nepal']

In [ ]:
# 4번. 3번 문제의 nations라는 리스트에 'Japan'과 'Russia'가 있는지 검사하여 출력하시오. 이때 in 연산자를 사용하여 리스트에 항목이 있는가 검사하고 출력시에는 if-else 조건문을 사용하시오.

In [ ]:
'Russia' in nations

True

In [ ]:
if 'Japan' in nations :
  print('Japan 는(은) 국가 목록에 있습니다.')
else  :
  print('Japan 는(은) 국가 목록에 없습니다.')

if 'Russia' in nations :
  print('Russia 는(은) 국가 목록에 있습니다.')
else:
  print('Russia 는(은) 국가 목록에 없습니다.')

Japan 는(은) 국가 목록에 없습니다.
Russia 는(은) 국가 목록에 있습니다.

In [ ]:
# 5.5 리스트에 적용되는 내장함수

In [ ]:
list1 = [20,50,99,100,89,98]

In [ ]:
max(list1)

100

In [ ]:
min(list1)

20

In [ ]:
len(list1)

6

In [ ]:
sum(list1)

456

In [ ]:
sum(list1)/len(list1)

76.0

In [ ]:
# LAB 5-4 : 리스트의 min()과 max(), sum(), len() 함수

In [ ]:
# 1번. 1부터 10까지의 수중에서 소수 원소를 가지는 prime_list라는 리스트를 생성하고 이들 중 최솟값, 최댓값을 다음과 같이 출력하시오. min()과 max(), sum(), len() 내장함수를 사용하여 다음과 같이 출력하시오.

In [ ]:
prime_list = [2, 3, 5, 7]

In [ ]:
print('1에서 10까지의 소수 : {}'.format(prime_list))
print('최솟값 : {}'.format(min(prime_list)))
print('최댓값 : {}'.format(max(prime_list)))
print('합계 : {}'.format(sum(prime_list)))
print('평균 : {}'.format(sum(prime_list)/len(prime_list)))

1에서 10까지의 소수 : [2, 3, 5, 7]
최솟값 : 2
최댓값 : 7
합계 : 17
평균 : 4.25

In [ ]:
# 2번. 'Korea', 'China', 'Russia', 'Malaysia' 원소를 가지는 nations라는 리스트가 있다. 이들 나라 중에서 사전 순서로 가장 먼저 나오는 나라와 가장 뒤에 나오는 나라를 다음과 같이 출력하시오.

In [ ]:
nations = ['Korea', 'China', 'Russia', 'Malaysia']

In [ ]:
print('국가 목록 : {}'.format(nations))

nations.sort()

print('사전에 가장 먼저 나오는 나라 : {}'.format(nations[0]))
print('사전에 가장 뒤에 나오는 나라 : {}'.format(nations[-1]))

국가 목록 : ['Korea', 'China', 'Russia', 'Malaysia']
사전에 가장 먼저 나오는 나라 : China
사전에 가장 뒤에 나오는 나라 : Russia

In [ ]:
# 5.6 리스트의 메소드

In [ ]:
list1

[20, 50, 99, 100, 89, 98]

In [ ]:
list1.sort(reverse = True)

In [ ]:
list1

[100, 99, 98, 89, 50, 20]

In [ ]:
list1.reverse()

In [ ]:
list1

[20, 50, 89, 98, 99, 100]

In [ ]:
list1.index(89)

2

In [ ]:
list1.append(89)

In [ ]:
list1.sort(reverse=True)

In [ ]:
list1

[100, 99, 98, 89, 89, 50, 20]

In [ ]:
list1.count(89)

2

In [ ]:
list1.index(89)

3

In [ ]:
list1

[100, 99, 98, 89, 89, 50, 20]

In [ ]:
list2 = [88,98,100,50,99]

In [ ]:
list1.extend(list2)

In [ ]:
list1

[100, 99, 98, 89, 89, 50, 20, 88, 98, 100, 50, 99]

In [ ]:
list5 = ['a','b','c']

In [ ]:
list5

['a', 'b', 'c']

In [ ]:
list5.append('d')

In [ ]:
list5

['a', 'b', 'c', 'd']

In [ ]:
list5.insert(2,'d')

In [ ]:
list5

['a', 'b', 'd', 'c', 'd']

In [ ]:
list5.remove('d')

In [ ]:
list5

['a', 'b', 'c', 'd']

In [ ]:
list5.pop()

'd'

In [ ]:
list5

['a', 'b', 'c']

In [ ]:
list5.pop()

'c'

In [ ]:
list5

['a', 'b']

In [ ]:
# LAB 5-5 : 리스트 메소드의 응용

In [ ]:
# 1번. a 리스트의 원소 값이 [1,2,3]이고 b리스트의 원소 값이 [10,20,30]이다. a리스트에 append(b)메소드와 extend(b)메소드를 각각 호출할 때 어떤 결과가 나타날지 예측하시오. 그리고 실제로 수행한 후의 결과를 각각 적으시오.

In [ ]:
a = [1,2,3]

In [ ]:
b = [10,20,30]

In [ ]:
a.append(b)

In [ ]:
a

[1, 2, 3, [10, 20, 30]]

In [ ]:
a = [1,2,3]

In [ ]:
b = [10,20,30]

In [ ]:
a.extend(b)

In [ ]:
a

[1, 2, 3, 10, 20, 30]

In [ ]:
# 2번. 1부터 10까지의 정수 값을 원소로 가지는 nlist를 생성하여 다음과 같이 출력하여라.

In [ ]:
nlist = list(range(1,11))

In [ ]:
print('nlist = {}'.format(nlist))

nlist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# 3번. insert() 메소드를 사용하여 nlist의 제일 앞에 0을 삽입하여 다음과 같이 출력하여라.

In [ ]:
nlist.insert(0,0)

In [ ]:
print('nlist = {}'.format(nlist))

nlist = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# 4번. 위의 3번 문제를 통해 만들어진 nlist를 역순으로 다시 배열하여 다음과 같이 출력하여라(reverse() 메소드 사용할 것).

In [ ]:
nlist.reverse()

In [ ]:
print('nlist = {}'.format(nlist))

nlist = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
# 5번. nlist의 제일 마지막 원소를 pop() 메소드를 사용하여 반환하여 출력하고 삭제한 후의 nlist를 다음과 같이 출력하여라.

In [ ]:
print('마지막 원소 = {}'.format(nlist.pop()))
print('nlist = {}'.format(nlist))

마지막 원소 = 0
nlist = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# 5.7 리스트와 연산

In [ ]:
list1

[100, 99, 98, 89, 89, 50, 20, 88, 98, 100, 50, 99]

In [ ]:
list2

[88, 98, 100, 50, 99]

In [ ]:
list3 = list1 + list2

In [ ]:
list3

[100, 99, 98, 89, 89, 50, 20, 88, 98, 100, 50, 99, 88, 98, 100, 50, 99]

In [ ]:
# LAB 5-6 : 리스트 연산

In [ ]:
# 1번. 사용자로부터 정수 n을 입력받아 [1,2,3]이라는 원소를 가지는 리스트를 다음과 같이 지정된 정수 n만큼 반복 출력하여라.

In [ ]:
n = int(input('반복할 정수를 입력하시오 : '))
listn = [1,2,3]
listm = listn * n

listm

반복할 정수를 입력하시오 : 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
n = int(input('반복할 정수를 입력하시오 : '))
listn = [1,2,3]
listm = listn * n

listm

반복할 정수를 입력하시오 : 4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# 5.8 리스트의 내용 갱신을 위한 방법

In [ ]:
list1 = [10,20,30,40,50]

In [ ]:
i = 0

In [ ]:
for n in list1:
  list1[i] = n * 10
  i = i + 1

In [ ]:
print(list1)

[100, 200, 300, 400, 500]

In [ ]:
list2 = [10,20,30,40,50]

In [ ]:
list2 = [ n-1 for n in list2]

In [ ]:
list2

[99, 199, 299, 399, 499]

In [ ]:
list1 = [10,20,30,40,50]

In [ ]:
list1 = list(map(lambda x : x * 10, list1))

In [ ]:
list1

[100, 200, 300, 400, 500]

In [ ]:
# 5.9 리스트의 슬라이싱

In [ ]:
a_list = [10,20,30,40,50,60,70,80]

In [ ]:
a_list[1:5]

[20, 30, 40, 50]

In [ ]:
a_list[5:-1]

[60, 70]

In [ ]:
a_list[:5]

[10, 20, 30, 40, 50]

In [ ]:
a_list = list(range(1,10))

In [ ]:
a_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
 a_list[1:8:2]

[2, 4, 6, 8]

In [ ]:
a_list[0:9:2]

[1, 3, 5, 7, 9]

In [ ]:
a_list[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list1 = [100,200,300,400,500]

In [ ]:
list1.sort()

In [ ]:
list1

[100, 200, 300, 400, 500]

In [ ]:
list1[::-1]

[500, 400, 300, 200, 100]

In [ ]:
list1.reverse()

In [ ]:
list1

[500, 400, 300, 200, 100]

In [ ]:
list1.reverse()

In [ ]:
list1

[100, 200, 300, 400, 500]

In [ ]:
a_list[1::-1]

[2, 1]

In [ ]:
a_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a_list[5::-1]

[6, 5, 4, 3, 2, 1]

In [ ]:
a_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a_list[5:2:-1]

[6, 5, 4]

In [ ]:
# LAB 5-7 : 리스트의 슬라이싱

In [ ]:
# 1번. range(15)함수를 사용하여 다음과 같은 리스트를 생성하여라.

In [ ]:
n_list = list(range(15))

In [ ]:
print('n_list = {}'.format(n_list))

n_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
# 2번. 문제 1번의 n_list로부터 슬라이싱을 수행하여 다음과 같은 리스트를 생성하여라.

In [ ]:
print('s_list1 = {}'.format(n_list[:5]))

s_list1 = [0, 1, 2, 3, 4]

In [ ]:
print('s_list2 = {}'.format(n_list[5:11]))

s_list2 = [5, 6, 7, 8, 9, 10]

In [ ]:
print('s_list3 = {}'.format(n_list[11:]))

s_list3 = [11, 12, 13, 14]

In [ ]:
print('s_list4 = {}'.format(n_list[2:11:2]))

s_list4 = [2, 4, 6, 8, 10]

In [ ]:
print('s_list5 = {}'.format(n_list[10:5:-1]))

s_list5 = [10, 9, 8, 7, 6]

In [ ]:
print('s_list6 = {}'.format(n_list[10:1:-2]))

s_list6 = [10, 8, 6, 4, 2]