In [ ]:
# 8.1 오류와 예외처리의 필요성

In [ ]:
# 8.2 try-except 문의 문법

In [ ]:
try:
  a,b = input('두 수를 입력하시오: ').split()
  result = int(a) / int(b)
  print('{}/{} = {}'.format(a,b,result))

except:
  print('수가 정확한지 확인하세요.')

두 수를 입력하시오: 10 0
수가 정확한지 확인하세요.

In [ ]:
try:
  a,b = input('두 수를 입력하시오: ').split()
  result = int(a) / int(b)
  print('{}/{} = {}'.format(a,b,result))

except:
  print('수가 정확한지 확인하세요.')

두 수를 입력하시오: 사백 이백
수가 정확한지 확인하세요.

In [ ]:
try:
  a,b = input('두 수를 입력하시오: ').split()
  result = int(a) / int(b)
  print('{}/{} = {}'.format(a,b,result))

except:
  print('수가 정확한지 확인하세요.')

두 수를 입력하시오: 50 2
50/2 = 25.0

In [ ]:
try:
  b = 2 / 0
  a = 1 + 'hundred'
  
except Exception as e:
  print('error :',e)

error : division by zero

In [ ]:
try:
  # b = 2 / 0
  a = 1 + 'hundred'
  
except Exception as e:
  print('error :',e)

error : unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# LAB 8.1 : 다음 코드는 어떤 예외를 발생시키는가?

In [ ]:
# 1번

In [ ]:
a = [10,20,30]
a[3]

IndexError: ignored

In [ ]:
n = int('20%')

ValueError: ignored

In [ ]:
a = 100 + '200'

TypeError: ignored

In [ ]:
# 2번

In [ ]:
try:
  a = [10,20,30]
  a[3]
  
except Exception as e:
  print('error: ',e)

error:  list index out of range

In [ ]:
try:
  n = int('20%')
  
except Exception as e:
  print('error: ',e)

error:  invalid literal for int() with base 10: '20%'

In [ ]:
try:
  a = 100 + '200'
  
except Exception as e:
  print('error: ',e)

error:  unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# 8.3 구체적인 예외를 명시하기

In [ ]:
try:
  b = 2 / 0
  a = 1 + 'hundred'
  
except ZeroDivisionError:
  print('0으로 나누는 오류')

except TypeError:
  print('지원되지 않은 연산자를 사용하는 오류')

0으로 나누는 오류

In [ ]:
try:
  # b = 2 / 0
  a = 1 + 'hundred'
  
except ZeroDivisionError:
  print('0으로 나누는 오류')

except TypeError:
  print('지원되지 않은 연산자를 사용하는 오류')

지원되지 않은 연산자를 사용하는 오류

In [ ]:
# 8.4 try-except-else 문

In [ ]:
try:
  a,b = input('두 수를 입력하시오: ').split()
  result = int(a) / int(b)

except ZeroDivisionError:
  print('오류 : 0으로 나눔을 시도했습니다.')
except ValueError:
  print('오류 : 입력 값이 정수나 실수가 아닙니다.')
except:
  print('오류 : 10 2와 같이 두 정수를 입력하세요.')
else:
  print('{} / {} = {}'.format(a,b,result))

두 수를 입력하시오: 10 2
10 / 2 = 5.0

In [ ]:
# LAB 8-2 : 다음 코드는 어떤 예외를 발생시키는가?

In [ ]:
# 1번

In [ ]:
try:
  10 * (30 / 0)

except Exception as e:
  print('error :',e)

error : division by zero

In [ ]:
try:
  x = int(input('정수 x를 입력하세요: '))
  print(x)

except Exception as e:
  print('error :',e)

정수 x를 입력하세요: 사
error : invalid literal for int() with base 10: '사'

In [ ]:
try:
  import sys
  
  f = open('myfile.txt')
  s = f.readline()

except Exception as e:
  print('error :',e)

error : [Errno 2] No such file or directory: 'myfile.txt'

In [ ]:
# 8.5 try-except-finally 문

In [ ]:
try:
  a,b = input('두 수를 입력하시오: ').split()
  result = int(a) / int(b)

except ZeroDivisionError:
  print('오류 : 0으로 나눔을 시도했습니다.')
except ValueError:
  print('오류 : 입력 값이 정수나 실수가 아닙니다.')
except:
  print('오류 : 10 2와 같이 두 정수를 입력하세요.')
else:
  print('{} / {} = {}'.format(a,b,result))
finally:
  print('done!')

두 수를 입력하시오: 10 2
10 / 2 = 5.0
done!

In [ ]:
# LAB 8-3 : 예외의 생성과 처리

In [ ]:
# 1번

In [ ]:
a = [1,2,3,4,5]
print('a = [1,2,3,4,5]')

요소 = int(input('a의 요소를 하나 선택하시오 : '))

if a[요소-1] == 1:
  print('{} 은(는) 첫 번째 요소입니다.'.format(요소))
elif a[요소-1] == 2:
  print('{} 은(는) 두 번째 요소입니다.'.format(요소))
elif a[요소-1] == 3:
  print('{} 은(는) 세 번째 요소입니다.'.format(요소))
elif a[요소-1] == 4:
  print('{} 은(는) 네 번째 요소입니다.'.format(요소))
elif a[요소-1] == 5:
  print('{} 은(는) 다섯 번째 요소입니다.'.format(요소))

a = [1,2,3,4,5]
a의 요소를 하나 선택하시오 : 2
2 은(는) 두 번째 요소입니다.

In [ ]:
a = [1,2,3,4,5]
print('a = [1,2,3,4,5]')

요소 = int(input('a의 요소를 하나 선택하시오 : '))

if a[요소-1] == 1:
  print('{} 은(는) 첫 번째 요소입니다.'.format(요소))
elif a[요소-1] == 2:
  print('{} 은(는) 두 번째 요소입니다.'.format(요소))
elif a[요소-1] == 3:
  print('{} 은(는) 세 번째 요소입니다.'.format(요소))
elif a[요소-1] == 4:
  print('{} 은(는) 네 번째 요소입니다.'.format(요소))
elif a[요소-1] == 5:
  print('{} 은(는) 다섯 번째 요소입니다.'.format(요소))

a = [1,2,3,4,5]
a의 요소를 하나 선택하시오 : 1
1 은(는) 첫 번째 요소입니다.

In [ ]:
# 2번

In [ ]:
a = [1,2,3,4,5]
print('a = [1,2,3,4,5]')

try:
  요소 = int(input('a의 요소를 하나 선택하시오 : '))

  if a[요소-1] == 1:
    print('{} 은(는) 첫 번째 요소입니다.'.format(요소))
  elif a[요소-1] == 2:
    print('{} 은(는) 두 번째 요소입니다.'.format(요소))
  elif a[요소-1] == 3:
    print('{} 은(는) 세 번째 요소입니다.'.format(요소))
  elif a[요소-1] == 4:
    print('{} 은(는) 네 번째 요소입니다.'.format(요소))
  elif a[요소-1] == 5:
    print('{} 은(는) 다섯 번째 요소입니다.'.format(요소))
  
except:
  print('오류 : 입력 값이 정수나 실수가 아님')

a = [1,2,3,4,5]
a의 요소를 하나 선택하시오 : 삼
오류 : 입력 값이 정수나 실수가 아님

In [ ]:
# 8.6 raise 문

In [ ]:
def get_ans(ans):
  if ans in ['예', '아니요']:
    print('정상적인 입력입니다.')
  else:
    raise ValueError('입력을 확인하세요.')
  
while True:
  try:
    ans = input('예/아니오 중 하나를 입력하세요: ')
    get_ans(ans)
    break
  except Exception as e:
    print('error :',e)

예/아니오 중 하나를 입력하세요: yes
error : 입력을 확인하세요.
예/아니오 중 하나를 입력하세요: no
error : 입력을 확인하세요.
예/아니오 중 하나를 입력하세요: 옘
error : 입력을 확인하세요.
예/아니오 중 하나를 입력하세요: 예
정상적인 입력입니다.

In [ ]:
# 9. 클래스와 객체 지향 프로그래밍

In [ ]:
# 9.1 객체 지향 프로그래밍과 객체

In [ ]:
# LAB 9-1 : 객체와 메소드 호출

In [ ]:
# 1번

In [ ]:
(200).__sub__(100)

100

In [ ]:
(200).__mul__(100)

20000

In [ ]:
(200).__truediv__(100)

2.0

In [ ]:
# 2번

In [ ]:
[10,20,30,40].pop()

40

In [ ]:
# 3번

In [ ]:
# - keys()를 호출할 수 없다.

In [ ]:
# 4번

In [ ]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [ ]:
# 5번

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
# 9.2 객체 지향 프로그래밍과 절차적 프로그래밍

In [ ]:
# 9.3 클래스와 객체, 인스턴스

In [ ]:
class Cat:
  def meow(self):
    print('야옹 야옹~~')

In [ ]:
nabi = Cat()

In [ ]:
nabi.meow()

야옹 야옹~~

In [ ]:
# LAB 9-4 : Dog 클래스와 인스턴스 생성

In [ ]:
# 1번

In [ ]:
class Dog:
  def bark(self):
    print('멍멍~~')

my_dog = Dog()
my_dog.bark()

멍멍~~

In [ ]:
 # 9.5 클래스 정의와 생성자

In [ ]:
class Cat:
  def __init__(self,name,color = '흰색'):
    self.name = name
    self.color = color

  def meow(self):
    print('내 이름은 {}, 색깔은 {}, 야옹 야옹~~'.format(self.name, self.color))

In [ ]:
nabi = Cat('나비')

In [ ]:
nabi.color

'흰색'

In [ ]:
nero = Cat('네로','검정색')

In [ ]:
mimi = Cat('미미', '갈색')

In [ ]:
nabi.meow()

내 이름은 나비, 색깔은 흰색, 야옹 야옹~~

In [ ]:
nero.meow()

내 이름은 네로, 색깔은 검정색, 야옹 야옹~~

In [ ]:
mimi.meow()

내 이름은 미미, 색깔은 갈색, 야옹 야옹~~

In [ ]:
# LAB 9-5 : Dog 클래스와 인스턴스 생성

In [ ]:
# 1번

In [ ]:
class Dog:
  def __init__(self,name):
    self.name = name
  
  def bark(self):
    print('내 강아지 이름은 {} 멍멍~~'.format(self.name))

my_dog = Dog('Jindo')
my_dog.bark()

내 강아지 이름은 Jindo 멍멍~~

In [ ]:
# 9.7 캡슐화

In [ ]:
class Cat:
  def __init__(self, name, age):
    self.__name = name
    self.__age = age

  def __str__(self):
    return 'Cat(name='+self.__name+',age = '+str(self.__age)+')'

  def set_age(self,age):
    if age > 0:
      self.__age = age
    
  def get_age(self):
    return self.__age

In [ ]:
nabi = Cat('나비',3)

In [ ]:
print(nabi)

Cat(name=나비,age = 3)

In [ ]:
nabi.set_age(4)

In [ ]:
nabi.set_age(-5)

In [ ]:
print(nabi)

Cat(name=나비,age = 4)

In [ ]:
# 9.8 객체의 아이덴티티 연산: is, is not

In [ ]:
list_a = [10,20,30]
list_b = [10,20,30]

if list_a is list_b:
  print('list_a is list_b')
else:
  print('list_a is not list_b')

list_a is not list_b

In [ ]:
list_a = [10,20,30]
list_b = [10,20,30]

if list_a == list_b:
  print('list_a == list_b')
else:
  print('list_a != list_b')

list_a == list_b

In [ ]:
a = 'ABC'
b = 'ABC'

if a is b:
  print('a is b')
else:
  print('a is not b')

a is b

In [ ]:
# LAB 9-7 : 정수 객체의 is 연산

In [ ]:
# 1번

In [ ]:
n = 100
m = 100

if n is m:
  print('n is m')
else:
  print('n is not m')

n is m

In [ ]:
# 9.9 클래스와 특수 메소드

In [ ]:
class Vector2D:
  def __init__(self,x,y):
    self.x = x
    self.y = y

  def add(self,other):
    return Vector2D(self.x + other.x, self.y + other.y)

In [ ]:
v1 = Vector2D(30,40)
v2 = Vector2D(10,20)
v3 = v1.add(v2)

In [ ]:
print(v3.x, v3.y)

40 60

In [ ]:
# LAB 9-8 : 특수 메소드의 응용

In [ ]:
# 1번

In [ ]:
class Vector2D:
  def __init__(self,x,y):
    self.x = x
    self.y = y

  def __mul__(self,other):
    return Vector2D(self.x * other.x, self.y * other.y)

  def __truediv__(self,other):
    return Vector2D(self.x / other.x, self.y / other.y)

v1 = Vector2D(30,40)
v2 = Vector2D(10,20)

v3 = v1 * v2
print('v1 * v2 = ({}, {})'.format(v3.x,v3.y))
v4 = v1 / v2
print('v1 / v2 = ({}, {})'.format(v4.x,v4.y))

v1 * v2 = (300, 800)
v1 / v2 = (3.0, 2.0)

In [ ]:
# 2번

In [ ]:
class Vector2D:
  def __init__(self,x,y):
    self.x = x
    self.y = y

  def __neg__(self):
    return Vector2D(-self.x, -self.y)

v1 = Vector2D(10,20)
v5 = -v1
print('-v1 = ({}, {})'.format(v5.x,v5.y))

-v1 = (-10, -20)

In [ ]:
# LAB 9-9 : 벡터의 크기 비교하기

In [ ]:
# 1번

In [3]:
import math

class Vector2D:
  def __init__(self,x,y):
    self.x = x
    self.y = y

  def __gt__(self,other):
    return (math.sqrt(self.x ** 2 + self.y ** 2)> math.sqrt(other.x ** 2 + other.y ** 2))

  def __ge__(self,other):
    return (math.sqrt(self.x ** 2 + self.y ** 2)>= math.sqrt(other.x ** 2 + other.y ** 2))

  def __lt__(self,other):
    return (math.sqrt(self.x ** 2 + self.y ** 2)< math.sqrt(other.x ** 2 + other.y ** 2))

  def __le__(self,other):
    return (math.sqrt(self.x ** 2 + self.y ** 2)<= math.sqrt(other.x ** 2 + other.y ** 2))

v1 = Vector2D(30,40)
v2 = Vector2D(10,20)
v3 = v1.__gt__(v2)
v4 = v1.__ge__(v2)
v5 = v1.__lt__(v2)
v6 = v1.__le__(v2)

print('v1 > v2 =',v3)
print('v1 >= v2 =',v4)
print('v1 < v2 =',v5)
print('v1 <= v2 =',v6)

v1 > v2 = True
v1 >= v2 = True
v1 < v2 = False
v1 <= v2 = False

In [ ]:
# 9.10 클래스 변수와 __dict__

In [ ]:
class Circle:
  PI = 3.14
  def __init__(self,name,radius):
    self._name = name
    self._radius = radius

In [ ]:
c1 = Circle("C1",4)
print('c1의 속성들:',c1.__dict__)

c1의 속성들: {'_name': 'C1', '_radius': 4}

In [ ]:
print('c1의 _name 변수값:',c1.__dict__['_name'])

c1의 _name 변수값: C1

In [ ]:
print('c1의 _radius 변수값:',c1.__dict__['_radius'])

c1의 _radius 변수값: 4

In [ ]:
# LAB 9-10 : __dict__를 이용한 인스턴스변수의 조회

In [ ]:
# 1번

In [ ]:
class Rect:
  def __init__(self,width,height):
    self.width = width
    self.height = height

r1 = Rect(100,200)
print(r1.__dict__)
print(r1.__dict__['width'])

{'width': 100, 'height': 200}
100

In [ ]:
# 2번

In [ ]:
class Rect:
  def __init__(self,width,height):
    self.__width = width
    self.__height = height

r1 = Rect(100,200)
print(r1.__dict__)
print(r1.__dict__['_Rect__width'])

{'_Rect__width': 100, '_Rect__height': 200}
100

In [ ]:
# 9.11 객체와 참조, 할당연산의 의미

In [ ]:
# LAB 9-11 : 객체와 메소드 호출

In [ ]:
# 1번

In [ ]:
a = 100

In [ ]:
b = a

In [ ]:
id(a)  == id(100)

True

In [ ]:
id(b) == id(100)

True

In [ ]:
id(a) == id(b)

True

In [ ]:
a = 200

In [ ]:
id(a) == id(200)

True

In [ ]:
id(b) == id(200)

False

In [ ]:
id(a) == id(b)

False